<div class="fl">
    <section class="section">
        <h2 class="h2-title h2-title--underline">Примеры ошибок рекламных кампаний в Томске</h2>

        <div class="call-to-action">
          <p>
            Ниже мы привели несколько примеров недобросовестной рекламы, составленной нашими конкурентами.
          </br> Потребовалось всего несколько минут, чтобы сформировать данный список, поскольку подобные примеры появлялись практически по каждому спонтанно придуманному запросу.
        </br>Мы не пытаемся принизить наших конкурентов, а лишь показать вам свое видение очевидных оплошностей, которые сами никогда не допустим.
          </p>
        </div>

        <article class="article">
            <h3 class="h3-title h3-title--underline">1. Отсутствие предложения по запросу клиента</h3>
            <p>
                <span>Ситуация:</span> поиск горизонтального солярия в Томске.
            </p>
            <img src="./images/examples/1.png" alt=""/>
            <p>
              <span>Проблемы для клиента:</span>
            </p>
            <ul>
              <li>1. В объявлениях нет подтверждения запрашиваемой услуги, лишь заголовок второго объявления.</li>
              <li>2. Оба объявления ведут на главную страницу сайта, клиент вынужден самостоятельно искать нужный раздел сайта.</li>
              <li>3. Салон "Катя солнце" на своем сайте имеет только цены на услугу. Общение с сотрудниками салона прояснио ситуацию - горизонтального солярия в салоне нет.</li>
              <li>3. На сайте Bellissimo найти какую либо информацию об услуге солярия не удалось вовсе. </li>
            </ul>
            <p>
              <span>Проблемы для компаний:</span> пустая оплата за клиента, который, не находя нужной информации на сайте или услуги у компании, уходит разочарованным.
            </p>
            <p>
              <span>Решение:</span> исключить показы по услугам, предоставить которые компания не в силах. Приводить клиента с объявления на нужный раздел сайта с подробной информацией об услуге.
            </p>
        </article>

        <article class="article">
            <h3 class="h3-title h3-title--underline">2. Реклама по не ключевым запросам</h3>
            <p>
                <span>Ситуация:</span> желание клиента арендовать велосипед в Томске.
            </p>
            <img src="./images/examples/2.png" alt=""/>
            <p>
                <span>Проблема для клиента:</span> компания "Покатайка" занимается исключительно продажей и исключительно товаров для детей. Взять взрослый велосипед в аренду не представляется возможным.
            </p>
            <img src="./images/examples/2-2.png" alt=""/>
            <p>
                <span>Проблема для компании:</span> оплата случайных посетителей по подобным нецелевым запросам и крайне низкая статистика рекламной кампании.
                Сомневаемся, что человек, ищущий аренду велосипеда, купит детские товары.
            </p>
            <hr>
            </br>
            <p>
                <span>Ситуация:</span> желание клиента купить велосипед марки GT.
            </p>
            <img src="./images/examples/5.png" alt=""/>
            <p>
                <span>Проблемы компании babyshop</span> аналогичны предыдущему случаю.
            </p>
            <p>
                <span>Решение:</span> глубокая проработка ключевых слов с целью исключения показов по неключевым запросам, повышения статистики рекламной кампании и сокращения расходов.
            </p>

        </article>


        <div class="call-to-action">
          <p>
            Мы заинтересованны в эффективности рекламы наших клиентов! </br>Ваша реклама будет показываться только целевым клиентам и полностью соответствовать вашему предложению.
          </p>
          <button type="button" class="action-button" data-action="show-dimmer" name="button">Оставить заявку для связи</button>
        </div>


        <article class="article">
            <h3 class="h3-title h3-title--underline">3. Навязывание услуги
            </h3>
            <p>
                <span>Ситуация:</span> человек хочет научиться делать суши самостоятельно.
            </p>
            <img src="./images/examples/3.png" alt=""/>
            <p>
                <span>Проблема для клиента:</span> навязывание компанией "Бамбуковые доски" своих услуг, когда человек в них не заинтересован. Вероятность того, что человек купит суши, в то время как нацелен сделать их самостоятельно, крайне мала.
            </p>
            <p>
                <span>Проблема для компании:</span> оплата нецелевых клиентов, низкая эффективность рекламной кампании.
            </p>
            <p>
                <span>Решение:</span> исключить показы рекламы по подобным запросам, изменить тексты объявления (с целью помочь клиенту сделать покупку вместо нескольких часов пребывания на кухне) или привлечение клиентов по подобным запросам на собвственные тематические ресурсы, которые помогут сформировать доверие к компании.
            </p>
        </article>

        <article class="article">
            <h3 class="h3-title h3-title--underline">4. Плохая проработка ключевых слов
            </h3>
            <p>
                <span>Ситуация:</span> клиенту необходим анализ его существующего сайта и рекомендации по повышению его эффективности и увеличению продаж.
            </p>
            <img src="./images/examples/4.png" alt=""/>
            <p>
                <span>Проблема для клиента:</span> его запросу отвечает только первая рекламная ссылка, но она с уклоном seo анализа сайта.
            </p>
            <p>
                <span>Проблема для компаний:</span> данная ниша весьма конкурентна и привлечение клиентов стоит существенных денег. Компании впустую оплачивают клиентов, которым нужен анализ существующего сайта, но не покупка нового.
            </p>
            <p>
                <span>Решение:</span> исключение показов по нецелевым запросам или изменени текстов объявлений по подобным запросам, если услуга анализа сайта предоставляется.
            </p>
        </article>



        <div class="call-to-action">
          <p>
            Как мы исправляем работу таких "специалистов" вы можете узнать из <a href="/reviews">кейсов</a>.
          </br> Хотите эффективную рекламу у хороших специалистов? Свяжитесь с нами!
          </p>
          <button type="button" class="action-button" data-action="show-dimmer" name="button">Оставить заявку для связи</button>
        </div>

        <!--<img src="./images/examples/6.png" alt=""/>
        <img src="./images/examples/7.png" alt=""/>-->

        <article class="article">
            <h3 class="h3-title h3-title--underline">5. Нет ответа на запрос клиента, нет конкретного предложения.
            </h3>
            <p>
              <span>Ситуация:</span> клиент хочет отремонтировать экран своего iPhone. Его интересует информация по данной услуге и данной модели.
            </p>
            <img src="./images/examples/8.png" alt=""/>
            <p>
                <span>Проблема для клиента:</span> клиента в настоящее время интересует ремонт экрана на iPhone 4s, а не стоимость дисплея на 5s, ремонт iPad и уж тем более не покупка нового устройства. Вы бы сами доверились компаниям, которые разговаривают с вами формулировками "быстро, качественно, недорого"?
                Клиент наверняка продолжит искать исполнителя дальше и выберет того, кто подвердит возможность решения именно его проблемы.
            </p>
            <p>
                <span>Проблема для компаний:</span> очень низкая эффективность рекламных объявлений. Большое количество потенцилаьных клиентов проходит мимо их объявления, не находя в них удовлетворения своих потребностей.
            </p>
            <p>
                <span>Решение:</span> по запросам ремонта техники показывать только объявления, касающиеся ремонта. Максимально конкретизировать предложение компании для клиента в текстах объявления, написав множество объявлений под разные модели телефонов, чтобы запросу "ремонт экрана iPhone 4s" соответствовало объявление по ремонту именно данного смартфона. Такой подход вызовет доверие у клиентов и их итоговое количество.
            </p>
            <!--
            <ul>
              <li>Первое объявление, несмотря на текст и заголовок, не дает никакой конкретной информации. Как быстро отремонтируют? Как дорого обойдется? Есть ли запчасть в наличии? Кроме того, клиенту предлагается  цена на запчасть другой модели, купить аккумулятор, отремонтировать iPad и просто "Купить".</li>
              <li>Второе объявление говорит о ремонте лишь косвенно, точно так же не раскрывая подробностей и условий, предлагая клиенту купить продукцию, но зато с гарантией.</li>
              <li>Третье объявление говорит о ремонте iPhone, но кроме этого никакой полезной информации для клиента нет.</li>
            </ul>
            <p>
              Как итог, клиенту показаны три объявления на его запрос по ремонту экрана iPhone 4s, и ни одно из них не дает ему уверенности в том, что его проблема будет решена.
            </p>
            <ul>Как можно исправить:
              <li>Разделить рекламные кампании по направлениям, как минимум на "ремонт" и "продажа".</li>
              <li>Для каждого направления свои объявления, без предложения купить по запросу ремонта и наоборот.</li>
              <li>Дать клиенту конкретную информацию по стоимости ремонта, срокам ремонта, наличию запчастей по его модели телефона.</li>
            </ul>-->

        </article>

        <article class="article">
            <h3 class="h3-title h3-title--underline">6. Рекламодатели поленились прочитать за собой тексты объявлений.
            </h3>
            <p>
              <span>Ситуация:</span> потенциальный заказчик ищет исполнителя на постройку дома из бруса в Томске. Стоимость итоговых работ может достигать миллионов рублей, поэтому критериев выбора исполнителя в говолове у потенциального заказчика довольно много: качество работ, наличие и стоимость пиломатериалов, скорость постройки, помощь в создании проекта дома, примерная стоимость работ и т.п.
            </p>

            <img src="./images/examples/11.png" alt=""/>
            <p>
                <span>Проблема для клиента:</span> потенциальный заказчик не получил никакой полезной информации об оказываемой услуге. Скорее всего он пройдет мимо этих объявлений и выберет другого исполнителя.
            </p>
            <p>
                <span>Проблемы для компаний:</span> подобные объявления приведут на сайт разве что случайного посетителя или человека, который в любом случае хочет выяснить все условия при личной встрече. Многие заказчики из данной ниши - серьезные и обеспеченные люди, привыкшие решать конкретные вопросы не затягивая сроки. Подобные объявления ставят под вопрос репутацию исполнителя и снижают доверие заказчика к исполнителю. По объявлениям переходит очень мало потенциальных заказчиков.
            </p>
            <p>
                <span>Решение:</span> не делать универсальное объявление, одной строкой характеризующее деятельность компании. Необходимо дать потенциальному клиенту максимально конкретное описание предлагаемых услуг по его запросу, изменив текст объявления, добавив уточнения и разделив рекламные кампании по направлениям.
            </p>
            <!--
            <ul>
              <li>Первое объявление содержит универсальную формулировку для разных типов строений. Никакой полезной информации текст отъявления не несет.</li>
              <li>Второе объявление было создано по шаблону и даже не прочитано перед публикацией. </li>
              <li>Третье объявление также не несет никакой полезной информации для потенциального заказчика.</li>
            </ul>
            <p>
              Как итог, потенциальный заказчик не получил никакой полезной информации об оказываемой услуге. Скорее всего он пройдет мимо этих объявлений и выберет другого исполнителя.
            </p>
            <ul>Как можно исправить:
              <li>Привести объявления к типографически корректному виду - заголовки и тексты с большой буквы.</li>
              <li>Дополнительная информация в текстах объявления о ценах, сроках, качестве работ, помогающая заказчику понять предложение.</li>
              <li>Дополнительные ссылки на разделы сайта с информацией о цена, готовых проектах и т.п.</li>
            </ul>
-->
        </article>

        <div class="call-to-action">
          <p> Мы нацелены на положительные результаты вашего бизнеса и долгосрочное сотрудничесво,
            <br> а не на сиюминутный заработок!
            <br> Доверив нам создание вашей рекламной компании, вы можете быть уверены в ее эффективности.
          </p>
          <button type="button" class="action-button" data-action="show-dimmer" name="button">Оставить заявку для связи</button>
        </div>

    </section>
</div>
