<div class="fl">
    <section class="section">

        <div class="call-to-action">
            <p>
                Стоимость настройки и ведения контекстной рекламы напрямую завит от ваших целей и предметной области.
                <br>
                Мы не будем обещать вам "1500 ключевиков" или "CTR от 15%", поскольку эти заявления не более чем рекламный трюк.
            </p>
            <p>
                В одной предметной области и 1500 ключевых слов будет мало, а в другой более 100 целевых и не наберется.
                <br>
                Аналогичная ситуация и с CTR: где-то 50% это норма, а где-то и 6% большой спех.
                <br>
            </p>
            <p>
                Цена на настройку и ведение рекламы Яндекс.Директ индивидуальна.
                <br>
                Свяжитесь с нами и мы найдем для вас лучшее решение.
                <br>
            </p>
            <button type="button" class="action-button" data-action="show-dimmer" name="button">Оставить заявку для связи</button>

        </div>

        <div class="call-to-action">
            <p>
                Для ознакомления ниже мы привели несколько вариантов ориентировочной стоимости контекстной рекламы.

            </p>
        </div>

        <div class="packages-container clearfix">
            <div class="package">
                <h4>Базовый</h4>
                <ul>
                    <li>Только на поиске.</li>

                    <li>Реклама на прямые запросы вашего товара или услуги.</li>
                    <li>Одно рекламное объвление на каждую тематику.</li>

                </ul>
                <p>
                    от 8 т.р.
                </p>
            </div>
            <div class="package">
                <h4>Стандартный</h4>
                <ul>
                    <li>Реклама на поиске и РСЯ.</li>
                    <li>Реклама на прямые запросы вашего товара или услуги.</li>
                    <li>Одно объвление на каждую тематику на поиске в РСЯ</li>
                </ul>
                <p>
                    от 10 т.р.
                </p>
            </div>
            <div class="package">
                <h4>Полный охват</h4>

                <ul>
                    <li>Реклама на поиске и РСЯ.</li>
                    <li>Реклама на прямые и потенциальные запросы вашего товара или услуги.</li>
                    <li>Несколько объявлений на каждую тематику для тестирования лучшего варианта.</li>
                </ul>
                <p>
                    от 12 т.р.
                </p>
            </div>
        </div>

        <div class="call-to-action">
            <p>
                Будьте уверены, мы полностью проработаем вашу предметную область, ваших конкурентов и сделаем для вас эффективную контексную рекламу под ваши цели.
            </p>
            <button type="button" class="action-button" data-action="show-dimmer" name="button">Оставить заявку для связи</button>

        </div>

    </section>
</div>
