<section class="section main">
  <div class="main--dark">


  <div class="fl">
    <div class="main--container">

    <h1 class="main__title h1-title h1-title--light">Комплексная настройка контекстной рекламы Яндекс.Директ в Томске</h1>
    <h2 class="main__subtitle h2-title h2-title--mediumColor">Приведем целевых клиентов</h2>
    <p class="main__fact">
      Позвоните нам: +7(999) 177 8901 или
    </p>

  </br>
    <button class="main__button action-button" data-action="show-dimmer" type="button" name="button">Оставьте заявку для встречи</button>

  </div>
  </div>
    </div>
</section>
<section class="section haw clearfix">
  <div class="fl">
    <h2 class="haw__subtitle h2-title h2-title--underline">Как работает контекстная реклама в интернете</h2>
    <div class="clearfix">

    <div class="haw__column">
      <p class="haw__column__description">
        Клиент ищет товар или услугу - Ваше объявление на первых позициях поисковой выдачи
      </p>
      <img src="./images/yandex.ru-search.png" alt="" />
    </div>
    <div class="haw__column">
      <p class="haw__column__description">
        Клиент заинтересован товаром или услугой - Ваша реклама на сайтах партнерах
      </p>
        <img src="./images/yandex.ru-net.png" alt="" />
    </div>
  </div>

  </div>
</section>
<section class="section advantages">
  <div class="fl">
    <h2 class="advantages__subtitle h2-title h2-title--underline">Получите главные преимущества Яндекс.Директ над другими видами интернет продвижения:</h2>
    <ul class="advantages__list clearfix">
      <li class="advantages__list__item clearfix"><img class="advantages__list__item__icon" src="./images/icons/target.png"/>Показывайте объявления только заинтересованным клиентам</li>
      <li class="advantages__list__item clearfix"><img class="advantages__list__item__icon" src="./images/icons/coins.png"/>Выбирайте бюджет рекламной кампании</li>
      <li class="advantages__list__item clearfix"><img class="advantages__list__item__icon" src="./images/icons/coins-1.png"/>Оплачивайте только переход клиента на ваш сайт</li>
      <li class="advantages__list__item clearfix"><img class="advantages__list__item__icon" src="./images/icons/stopwatch.png"/>Получайте результаты уже в первые часы после запуска</li>
    </ul>
    <div>
      <button class="advantages__button action-button action-button--centered" type="button" data-action="show-dimmer" name="button">Получить преимущества</button>

    </div>
  </div>
</section>
<section class="section not-ready">
  <div class="fl">
    <h2 class="not-ready__subtitle h2-title h2-title--underline">Сомневаетесь доверить нам ведение вашей рекламы?</h2>
    <p class="not-ready__cta">
      Прочтите подготовленные специально для Вас материалы, которые помогут вам развеять данные сомнения:
    </p>

    <ul class="not-ready__list clearfix">
      <li class="not-ready__list__item"><a href="/examples" class="not-ready__list__link"><p>
        <span>Работы наших конкурентов</span>
        Ознакомьтесь с примерами рекламы, сделанной нашими конкурентами, и не попадитесь на таких "специалистов".
      </p></a></li><!--
      <li class="not-ready__list__item"><a href="#" class="not-ready__list__link"><p>
        <span>Ловушки конкурентов</span>
        Узнайте, какими приемами наши конкуренты вызывают ваше доверие
      </p></a></li>--><!--
      --><li class="not-ready__list__item"><a href="/reviews" class="not-ready__list__link"><p>
        <span>Кейсы наших клиентов</span>
        Посмотрите на истории наших клиентов и результаты сотрудничества с нами.
      </p></a></li><!--
      --><li class="not-ready__list__item"><a href="/prices" class="not-ready__list__link"><p>
        <span>Стоимость наших услуг</span>
        Найдите ответ на вопрос "Как дорого стоит настройка контекстной рекламы?"
      </p></a></li><!--
      --><li class="not-ready__list__item"><a href="/about" class="not-ready__list__link"><p>
        <span>Наши контакты</span>
        Задайте все интересующие вопросы любым удобным способом или лично.
      </p></a></li>
    </ul>
  </div>
</section>
