<div class="wrapper">
    <div class="news-item-wrapper clearfix">

    <% for (var i=0; i<20; i++) { %>
        <%- include('../common/news-item', {
            index: i
        }) %>
    <% } %>
    </div>

</div>
