<div class="wrapper">
    <div class="news-item-wrapper clearfix">

    <% for (var i=0; i<20; i++) { %>
        <div class="news-item">
        <%= i %>
        </div>
    <% } %>
    </div>

</div>
