
        <div class="slider">
            <img src="http://i.kinja-img.com/gawker-media/image/upload/y6k2hs8svqdlp9vvewxt.jpg" alt="" />
            <img src="http://ichef.bbci.co.uk/news/624/cpsprodpb/618A/production/_89107942_thursday.jpg" alt="" />
            <img src="http://media2.intoday.in/indiatoday/images/stories//2016JUNE/4_062216123618.jpg" alt="" />
            <img src="https://d.ibtimes.co.uk/en/full/1411781/april-25-2014-masked-pro-russian-protester-sits-chair-he-poses-picture-inside-regional.jpg" alt="" />
            <img src="http://dp.topcovers4fb.com/wp-content/uploads/2015/11/Childhood-Love-Walk-Display-Picture.jpg" alt="" />
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>

        
