<div class="news-item <% if (locals.index && (locals.index % 2 == 0)) { %>news-item_special<% } %>">
    <div class="news-item__label-container">
        <% if (locals.index && (locals.index % 3 != 0)) { %>
            <img class="news-item__photo" src="./images/news.jpg" alt=""/>
        <% } %>
        <span class="news-item__label">Как это работает</span>
    </div>
    <div class="news-item__content">
        <h3 class="news-item__title">
            Все заявки поданы. Конкурс «Газпромнефть-Восток»
        </h3>
        <div class="news-item__divider">

        </div>
        <div class="news-item__author">
            Мнение редакции
        </div>
    </div>
</div>
