<a href="#" class="news-item news-item_no-photo">
    <div class="news-item__label-container">
        <span class="news-item__label">Как это работает</span>
    </div>
    <div class="news-item__content">
        <h3 class="news-item__title news-item__title_full news-item__title_overflow">
            Обычный блок новостей с фотографией и очень длинным заголовком в огромную кучу строк (точнее в 5), который, интрига, не вмещается
        </h3>
        <div class="divider-flora"></div>

        <div class="news-item__author">
            Мнение редакции
        </div>
    </div>
</a>
