<a href="#" class="news-item">
    <div class="news-item__label-container" style="background-image: url(./images/news.jpg)">
        <span class="news-item__label">Как это работает</span>
    </div>
    <div class="news-item__content">
        <h3 class="news-item__title news-item__title_overflow">
            Обычный блок новостей с фотографией и очень длинным заголовком, который, интрига, не вмещается
        </h3>
        <div class="divider-flora"></div>
        <div class="news-item__author">
            Мнение редакции
        </div>
    </div>
</a>
