<a href="#" class="news-item news-item_affiche">
    <div class="news-item__label-container" style="background-image: url(./images/news.jpg)">
        <span class="news-item__label">Афиша</span>
    </div>
    <div class="news-item__content">
        <h3 class="news-item__title">
            Блок новостей из раздела Афиши
        </h3>
        <div class="divider-flora"></div>

        <div class="news-item__author">
            Мнение редакции
        </div>
    </div>
</a>
