<a href="#" class="news-item news-item-wide clearfix">
    <div class="news-item-wide__left" style="background-image: url(./images/news.jpg)">

    </div>
    <div class="news-item-wide__right news-item_no-photo">

        <div class="news-item__label-container">
            <span class="news-item__label">Как это работает</span>
        </div>
        <div class="news-item__content">
            <h3 class="news-item__title news-item__title_full">
                Обычный блок новостей без фотографии, но заголовок крупным шрифтом
            </h3>
            <div class="news-item__divider"></div>
            <div class="news-item__author">
                Мнение редакции
            </div>
        </div>

    </div>
</a>
