<div class="rss-block">
    <h3 class="rss-block__title">Томские новости</h4>
    <ul class="rss-list rss-list_preview">
        <li class="rss-list__item">
            <div  class="rss">
                <span class="rss__time">в 14:22</span>
                <p  class="rss__title">
                    <a href="#">Медведев смог зайти на заблокированный RuTracker со своего iPad</a>
                </p>
            </div>
        </li>
        <li class="rss-list__item">
            <div  class="rss">
                <span class="rss__time">в 14:22</span>
                <p  class="rss__title">
                    <a href="#">Медведев смог зайти на заблокированный RuTracker со своего iPad</a>
                </p>
            </div>
        </li>
        <li class="rss-list__item">
            <div  class="rss">
                <span class="rss__time">в 14:22</span>
                <p  class="rss__title">
                    <a href="#">Медведев смог зайти на заблокированный RuTracker со своего iPad</a>
                </p>
            </div>
        </li>
        <li class="rss-list__item">
            <div  class="rss">
                <span class="rss__time">в 14:22</span>
                <p  class="rss__title">
                    <a href="#">Медведев смог зайти на заблокированный RuTracker со своего iPad</a>
                </p>
            </div>
        </li>
        <li class="rss-list__item">
            <div  class="rss">
                <span class="rss__time">в 14:22</span>
                <p  class="rss__title">
                    <a href="#">Медведев смог зайти на заблокированный RuTracker со своего iPad</a>
                </p>
            </div>
        </li>
        <li class="rss-list__item">
            <div  class="rss">
                <span class="rss__time">в 14:22</span>
                <p  class="rss__title">
                    <a href="#">Медведев смог зайти на заблокированный RuTracker со своего iPad</a>
                </p>
            </div>
        </li>
        <li class="rss-list__item">
            <div  class="rss">
                <span class="rss__time">в 14:22</span>
                <p  class="rss__title">
                    <a href="#">Медведев смог зайти на заблокированный RuTracker со своего iPad</a>
                </p>
            </div>
        </li>
        <li class="rss-list__item">
            <div  class="rss">
                <span class="rss__time">в 14:22</span>
                <p  class="rss__title">
                    <a href="#">Медведев смог зайти на заблокированный RuTracker со своего iPad</a>
                </p>
            </div>
        </li>
        <li class="rss-list__item">
            <div  class="rss">
                <span class="rss__time">в 14:22</span>
                <p  class="rss__title">
                    <a href="#">Медведев смог зайти на заблокированный RuTracker со своего iPad</a>
                </p>
            </div>
        </li>

    </ul>

    <a class="rss-block__link" href="#">Перейти в новости</a>

</div>
