<div class="article__social-button_share social-button_share social-button_share_fb">
  <div class="social-button_share__icon"></div>
  <span class="social-button_share__number">12</span>
</div><!--
--><div class="article__social-button_share social-button_share social-button_share_vk">
  <div class="social-button_share__icon"></div>
  <span class="social-button_share__number">57</span>
</div><!--
--><div class="article__social-button_share social-button_share social-button_share_tw">
  <div class="social-button_share__icon"></div>
  <span class="social-button_share__number">8712</span>
</div><!--
--><div class="article__social-button_share social-button_share social-button_share_ok">
  <div class="social-button_share__icon"></div>
  <span class="social-button_share__number">49</span>
</div>
