<form class="subscribe-form <%= locals.addClass ? locals.addClass : ''%>">
    <div class="subscribe-form__input-container clearfix">
        <input class="subscribe-form__email" name="email" required="" type="email" placeholder="Введите вашу почту">
        <button class="subscribe-form__button">Подписаться на дайджест</button>
    </div>
    <p class="subscribe-form__terms">Раз в неделю наши лучшие материалы в вашей почте, без надоедливого спама.<br>
    <a href="#" class="subscribe-form__link">Условия конфиденциальности</a></p>
</form>
