  @import 'common.styl';
  @import 'footer.styl';
  @import 'feedback.styl';
  @import 'buttons.styl';
  @import 'header-top.styl';
  @import 'headers.styl';
  @import 'advantages.styl';
  @import 'not-ready.styl';

  /*
    Review page
  */
  @import 'reviews.styl';

  /*
    About page
  */
  @import 'contacts.styl';


  /*
    examples page
  */
  @import 'article.styl';

  /*
    prices page
  */
  @import 'prices.styl';

  @import 'page-index.styl';
  @import 'haw.styl';



  @import 'dimmer.styl';
