.advantages__list {
  list-style: none;
  padding: 0;
  &__item {
    float: left;
    width: 25%;
    borderBox();
    padding: 15px;
    text-align: center;

    &__icon {
      height: 80px;
      display: block;
      margin: 0 auto;
      margin-bottom: 10px;
    }

  }

}
