.article {
  margin-bottom: 60px;
  padding: 20px;
  border: 1px solid lightColor;
  borderRadius(10px);
  box-shadow: 0 0 15px 0 mediumColor;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    margin-bottom: 15px;
  }
  p {
    margin-bottom: 15px;
    span {
      font-weight: bold;
    }
  }

}
