.haw {
/*
    &__search, &__net {
      height: 300px;
      background-size: 100% auto;

    }
    &__search {
      background-image: url('/images/haw__search.png');
    }

    &__net {
      background-image: url('/images/haw__net.png');
    }*/

  &__column {
    float: left;
    borderBox();
    width: 48%;
    margin: 1%;
  /*  padding: 20px;*/
    /*background-color: rgba(0.5,0.5,0.5,0.5);
    */overflow: hidden;

    &__description {
      margin-bottom: 10px;
    }

  }

  &__button-container {
    text-align: center;
    margin: 20px 0;
  }


}
