.h1-title {
  font-family: "Roboto Slab",serif;
  font-size: 3rem;
  margin-bottom: 20px;

  &--light {
    color: lightColor;
  }
}

.h2-title {
  font-family: "Roboto Slab",serif;
  margin: 10px auto;
  text-align: center;
    max-width: 60%;
  color: h2color;
  &--underline {

    padding-bottom: 15px;
      border-bottom: 1px solid h2UnderlineColor;
      margin-bottom: 30px;
  }

  &--mediumColor {
    color: h2colorWhite;
  }
}

.h3-title {
  font-family: "Roboto Slab",serif;
  color: h2color;

  &--underline {
    padding-bottom: 5px;
    border-bottom: 1px solid h2UnderlineColor;
    margin-bottom: 15px;
  }

}
