.main {
  background: backgroundColor;

/*  background: url('../images/header.JPG');
  background-size: 100% auto;
  background-position: 50% 80%;
*/
  text-align: center;
  color: mediumColor;
  &--container {
    padding: 50px 0;
    max-width: 80%;
    margin: 0 auto;
  }
  

/*  &--dark {
    background-color: rgba(0,0,0,0.5);
  }*/
}
