.packages-container {
  margin-bottom: 40px;
}

.package {
  float: left;
  width: 30%;
  margin: 0 1.6%;
  padding: 10px 20px;
  borderBox();
  border: 1px solid lightColor;
  borderRadius(10px);
  box-shadow: 0 0 15px 0 mediumColor;
  h4 {
    margin: 0;
    margin-bottom: 10px;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      padding: 5px 0;
    }
  }
  p {
    text-align: center;
    font-size: 1.1rem;
    font-style: italic;
    font-weight: bold;
    text-decoration: underline;
  }
}
