<div class="fl">
    <section class="section">
        <h2 class="h2-title h2-title--underline">Мифы о контекстной рекламе</h2>
        <article class="myth">
            <h3>Мне нужен высокий CTR</h3>
        </article>
        <article class="myth">
            <h3>Хочу рекламную кампанию минимум на 1000 ключевых слов</h3>
        </article>
        <article class="myth">
            <h3>Реклама делается отдельно от сайта и бизнеса</h3>
            <p>
              Многие клиенты привыкли разделять бизнес, сайт и рекламу на самостоятельные блоки и затем удивляются что интернет продвижение работает крайне плохо.
            </p>
        </article>
    </section>
    <section class="section">
        <h2 class="h2-title h2-title--underline">«Предвыборные обещания» наших конкурентов</h2>
        <article class="myth">
            <h3>CTR от 10%</h3>
            <p>
              Многие компании обещают вам показатель CTR не менее 10% даже не поинтересовавшись сферой вашей деятельности, конкуренцией вашего товара или услуги и вашим бюджетом на рекламу.
            </p>
            <p>
              Мы считаем данное обещаение не более чем попыткой привлечь ваше внимание и доверие. Рекламная кампания по самым популярным запросам вашей предметной области с качественной проработкой ключевых слов как правило показывает подобные результаты де факто. Стоит понимать, что высокий CTR возможен только при размещении на первых позиция рекламной выдачи на поиске, что может обойтись в весьма крупную сумму денег для вас.

            </p>
            <p>
              Пример: Компания А занимается продажей очень популярного товара, а компания Б настраивает для компании А рекламу в интернете. Чтобы компания Б смогла выполнить свои обещания про CTR от 10%, ей придется делать рекламную кампанию по самым горячим ключевым словам, которые явно говорят о заинтересованности клиента купить товар или услугу, отбрасывая все другие возможные запросы, по которым возможны продажи. Согласитесь, по рекламе на фразу "Заказать пиццу" будет переходить куда больше людей, чем по запросу "домашняя пицца", хотя во втором случае продажи так же возможны, но компания Б скорее всего не будет включать этот запрос в рекламную кампанию, так как CTR по ней будет явно ниже 10%.
            </p>
        </article>
        <article class="myth">
            <h3>Сделаем 1500 ключевых слов и 4500 объявлений</h3>
        </article>
        <article class="myth">
            <h3>Реклама за 3 дня</h3>
        </article>
    </section>
</div>
