.feedback {
  max-width: 100%;
  &__input {

    &--text {

    }
  }

  &__submit-button {
    width: 100%;
    max-width: 100%;
  }

  &__privacy-statement {
    font-size: 0.7rem;
    margin: -10px 0 10px 0;
    a {
      text-decoration: underline;
      &:hover {
        cursor: pointer;
      }
    }
  }

}
