.footer {
  

  &__column {
    borderBox();
    width: 100%;
    float: none;
    margin-bottom: 10px;
  }

  &__info {
    ul {

    }
  }

  &__slogan {
    text-align: left;
  }

  &__ask {
    text-align: left;
    p {

    }
  }
}
