.not-ready {


  &__cta {

  }

  &__list {


    &__item {
      display: block;
      padding: 10px;
      width: 100%;



    }

    &__link {

        &:hover {

        }

        & span {
        
        }

    }
  }



}
