.news-item-wrapper {
    margin-right: -20px;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

p {
    margin-bottom: 6px;
}

.hidden {
    display: none !important;
}

b, strong {
    font-weight: bold;
}

i,em {
    font-style: italic;
}

.inline-block {
    display: inline-block;
    vertical-align: top;
    margin: 0;
}

a {
    color: #ff00ff;
}
a:hover {
    color: #0fff00;
}


input[type="text"]:focus, input[type="email"]:focus, textarea:focus {
    outline: none;
    border-color: #ff00ff;
}

@media all and (max-width: 767px) {
    .news-item-wrapper {
        margin-right: 0;
    }
}
