.article-news-block {
  width: 100%;
}

.article-news-block > .divider-hat {
  margin-bottom: 20px;
}

.article-news-block > .divider-moustache {
  margin-top: -15px;
  background-image: url('./../../images/svg/mustages.svg');
}

.article-news-block > .divider-moustache::before,
.article-news-block > .divider-moustache::after {
  border-bottom: 1px solid #1a1917;
}

.article-news-block .news-item-wrapper {
  max-height: 640px;
  overflow-y: hidden;
}

@media all and (max-width: 767px) {
  .article-news-block .news-item-wrapper {
    width: 100%;
    max-height: 300px;
    overflow: hidden;
  }

  .article-news-block > .divider-hat,
  .article-news-block > .divider-moustache {
    display: none;
  }
}
