
.article__news-panel_right {
  float: right;
  width: 300px;
  padding: 10px;
  background: #f7f7f7;
}

.article__news-panel_right .news-item {
  width: 100%;
  margin-bottom: 10px;
}

.article__news-panel_right .fb-widget {
  width: 100%;
  height: 250px;
  margin-bottom: 10px;
  background: #f3f3f3;
}

.article__comments-container .article__news-panel_right {
  width: 220px;
  padding: 0 20px;
}

.article__image_top-container {
  width: 100%;
  background: #ffffff;
}

.article__image_top {
  display: block;
  width: 100%;
  height: auto;
}

.article-wrapper {
  padding: 0 40px;
}

.wrapper.article-wrapper {
  max-width: 1680px;
  padding: 0;
}

.article__column-wrapper {
  /*width: 70%;*/
  margin-right: 320px;
  padding: 20px 40px 10px;
  background: #ffffff;
}

.article__title {
  font-size: 60px;
  line-height: 70px;
  margin-top: 15px;
  margin-bottom: 20px;
}

.article__social-button_share-container {
  margin-bottom: 40px;
}

.article__author {
  display: inline-block;
  width: 100%;
  height: 60px;
  margin-bottom: 32px;
  text-align: left;
  vertical-align: middle;
}

.article__author:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  font-size: 0;
}

.article__author__photo {
  display: block;
  float: left;
  width: 60px;
  height: 60px;
  margin-right: 10px;
  vertical-align: middle;
}

/*.article__author__info {
  display: inline-block;
  vertical-align: middle;
}*/

.article__author__name {
  vertical-align: middle;
  font-size: 14px;
  line-height: 22px;
}

.article__subtitle {
  margin-bottom: 18px;
  font-size: 32px;
  line-height: 48px;
}

.article__paragraph {
  font-size: 16px;
  text-indent: 0;
  text-align: left;
  margin-bottom: 12px;
}

.article__section {
  padding: 0;
  margin: 45px 0;
}

.article__section-title {
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
}

.article__quote-container {
  width: 100%;
  padding-left: 80px;
  margin: 35px 0;
  box-sizing: border-box;
}

.article__reference {
  margin: 32px 0;
}

.article__paragraph_big {
  margin: 23px auto;
  font-size: 40px;
  line-height: 50px;
  text-align: center;
}

.article__picture {
  display: block;
  width: 100%;
  height: auto;
  margin-top: 32px;
  margin-bottom: 15px;
}

.article__fact-container {
  margin-top: 32px;
}

.article__social-container {
  width: 100%;
  margin-bottom: 40px;
  /*height: 120px;*/
  background: #1a1917;
}

.article__social-container .article__social-button_share-container {
  float: left;
  margin: 0;
  margin-right: 10px;
}

.article__subscribe-form {
  float: left;
}

.article__comments-widget {
  height: 295px;
  margin-right: 260px;
  background: #ffffff;
  border: 2px solid #e6e6e6;
}
