
.article__news-panel_right {
  float: right;
  width: 300px;
  padding: 10px;
  background: #f7f7f7;
}
.article__news-panel_right .news-item {
  width: 100%;
  margin-bottom: 10px;
}

.article__news-panel_right .fb-widget {
  width: 100%;
  height: 250px;
  margin-bottom: 10px;
  background: #f3f3f3;
}

.article__image_top-container {
  width: 100%;
  background: #ffffff;
}

.article__image_top {
  display: block;
  width: 100%;
  height: auto;
}

.wrapper.article-wrapper {
  padding: 0;
}

.article__column-wrapper {
  /*width: 70%;*/
  margin-right: 320px;
  padding: 20px 40px;
  background: #ffffff;
}

.article__title {
  font-size: 60px;
  line-height: 70px;
  margin-top: 10px;
  margin-bottom: 30px;
}

.article__social-button_share-container {
  margin-bottom: 40px;
}

.article__author {
  display: inline-block;
  width: 100%;
  height: 60px;
  margin-bottom: 35px;
  text-align: left;
  vertical-align: middle;
}

.article__author:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  font-size: 0;
}

.article__author__photo {
  display: block;
  float: left;
  width: 60px;
  height: 60px;
  margin-right: 10px;
  vertical-align: middle;
}

.article__author__info {
  display: inline-block;
  /*margin-left: 70px;*/
  /*line-height: 60px;*/
  vertical-align: middle;
}

.article__author__name {
  vertical-align: middle;
  font-size: 14px;
  line-height: 22px;
}

.article__subtitle {
  margin-bottom: 30px;
  font-size: 32px;
  line-height: 48px;
}

.article__paragraph {
  font-size: 16px;
  text-indent: 0;
  text-align: left;
  margin-bottom: 20px;
}

.article__section {
  padding: 0;
  margin: 50px 0;
}

.article__section-title {
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
}

.article__quote-container {
  width: 100%;
  padding-left: 80px;
  margin-top: 35px;
  margin-bottom: 40px;
  box-sizing: border-box;
}

.article__quote {
  /*display: inline-block;*/
  /*margin-bottom: 40px;*/
}

.article__reference {
  margin: 30px 0;
}

.article__paragraph_big {
  font-size: 40px;
  line-height: 50px;
  text-align: center;
}

.article__picture {
  width: 100%;
  height: auto;
}

.fact-container {
  padding: 40px;
  background: #f7f7f7;
}

.fact__picture {
  float: left;
  width: 160px;
  height: 160px;
  margin-right: 20px;
  background: #ff00ff;
}

.fact__content {
  display: block;
  margin-left: 180px;
  margin-top: -5px;
  font-family: "Georgia", serif;
  font-size: 16px;
  line-height: 24px;
  font-style: italic;
}

.article__social-container {
  width: 100%;
  /*height: 120px;*/
  background: #1a1917;
}

.article__social-container .article__social-button_share-container {
  float: left;
  margin: 0;
}

.subscribe-form {
  float: left;
}

.subscribe-form__input-container {
  margin-bottom: 7px;
}

.subscribe-form__email {
  display: block;
  float: left;
  width: 300px;
  height: 40px;
  padding: 0 15px;
  margin-right: 10px;
  box-sizing: border-box;
  border: none;
  border-radius: 1px;
}

.subscribe-form__button {
  display: block;
  float: left;
  width: 220px;
  height: 40px;
  padding: 0;
  box-sizing: border-box;
  border: none;
  border-radius: 1px;
  background: #0fff00;
  text-align: center;
  vertical-align: middle;
}

.subscribe-form__button span {
  font-family: 'Fira Sans';
  font-size: 14px;
  line-height: 22px;
}

.subscribe-form__terms,
.subscribe-form__terms__link {
  font-family: "Georgia", serif;
  font-size: 12px;
  line-height: 18px;
  font-style: italic;
  color: #ffffff;
}

.subscribe-form__terms__link {
  text-decoration: underline;
}
