.article-incut {
  width: 100%;
  padding-bottom: 25px;
}

.article-incut .divider-hat,
.article-incut .divider-moustache {
  margin: 0;
}

.article-incut p {
  margin: 20px auto 10px;
  font-size: 40px;
  line-height: 50px;
  text-align: center;
}

@media all and (max-width: 767px) {
  .article-incut {
    padding-bottom: 15px;
  }

  .article-incut p {
    margin: 20px auto 15px;
    font-size: 32px;
    line-height: 44px;
  }
}
