.categories {
    margin-top: 30px;
    margin-bottom: 40px;
}

.categories__header {
    font-size: 60px;
    line-height: 70px;
    margin-bottom: 30px;
}

.categories__toogle label {
    background-color: white;
    font-size: 14px;
    line-height: 24px;
    padding-top: 5px;
    margin-right: 42px;
    margin-bottom: 20px;
}

.categories__toogle label::after {
    background-color: white;
    width: 32px;
    padding-top: 5px;
    right: -33px;
}

.categories__show-all {
    margin-left: 20px;
    background-color: white;
    font-size: 14px;
    line-height: 24px;
    padding: 2px 8px;
    padding-top: 4px;
    display: inline-block;
    border: 1px solid #e6e6e6;
    padding-right: 30px;
    cursor: pointer;/*
    background-image: url();*/

}


@media all and (max-width: 767px) {
    .categories {
        margin-top: 25px;
        margin-bottom: 25px;
    }

    .categories__header {
        font-size: 32px;
        line-height: 44px;
        margin-bottom: 8px;
    }

    span.categories__toogle {
      margin-right: 0;
    }

    .categories__toogle label {
        margin-bottom: 0;
    }
}
