.divider-hat {
    width: 100%;
    padding-top: 30px;
    margin-bottom: 5px;
    position: relative;
    height: 0;

    background-image: url('../../images/svg/hat.svg');
    background-repeat: no-repeat;
    background-size: 30px 20px;
    background-position: center center;

}

.divider-hat::before, .divider-hat::after {
    display: block;
    width: calc(50% - 30px);
    height: 15px;
    content: "";
    position: absolute;
    top: 0;
    border-bottom: 1px solid #1a1917;


}

.divider-hat::before {
    left: 0;
}

.divider-hat::after {
    right: 0;
}
