.footer {
    background: #1a1917;
    color: white;
    font-size: 12px;
    line-height: 18px;
}

.footer__column {
    float: left;
    width: 25%;
    padding-right: 20px;
    box-sizing: border-box;
}

.footer-menu {
    color: white;
    text-transform: uppercase;
    text-align: justify;
}

.footer-menu__item {
    display: inline-block;
    margin-bottom: 6px;
    font-weight: bold;
    min-width: 40%;

}

.footer-menu__link {
    text-decoration: none;
    color: inherit;
    letter-spacing: 0.04em;
    line-height: 22px;

}



.footer-links {
    color: white;
}


.footer-links__item {
    display: block;
    margin-bottom: 6px;
}


.footer-links__item b {
    font-weight: bold;
    letter-spacing: 0.04em;
}

.footer-links__link {
    text-decoration: none;
    color: inherit;
    line-height: 22px;
}





.footer-social {
    color: white;
}


.footer-social__header {
    color: white;
    text-transform: uppercase;
    margin-bottom: 6px;
    font-weight: bold;
    letter-spacing: 0.04em;
}


.footer-social__item {
    display: inline-block;
    width: 49%;
    vertical-align: top;
    margin-bottom: 6px;
}


.footer-social__link {
    text-decoration: none;
    color: inherit;
    line-height: 22px;
}


@media all and (max-width: 855px) {
    .footer {
      position: relative;
    }

    .footer .wrapper {
      padding: 20px;
    }

    .footer-menu, .footer-links {
      display: none;
    }

    .footer__column {
      padding: 0;
    }

    .footer__column:first-child,
    .footer__column:last-child {
      width: auto;
      float: none;
    }

    .footer__column:first-child {
      margin-top: 127px;
    }

    .footer__column:last-child {
      position: absolute;
      top: 17px;
      left: 20px;
    }

    .footer-social__item:nth-child(2n+1) {
      width: 125px;
    }

    .footer-social__item:nth-child(2n) {
      width: calc(100% - 165px);
    }
}
