.header-bottom-menu {
    list-style: disc;
    font-size: 14px;
}

.header-bottom-menu__item {
    display: inline-block;
}

.header-bottom-menu__item:not(:first-child):before {
    width: 4px;
    height: 4px;
    content: " ";
    display: inline-block;
    background: #999999;
    margin: 0 10px 0 8px;
    border-radius: 50%;
    margin-bottom: 2px;

}

.header-bottom-menu__link {
    color: #1a1917;
    text-decoration: none;
    display: inline-block;
    line-height: 16px;
    border-bottom: 1px solid transparent;
    transition: border 300ms, color 300ms;
}

.header-bottom-menu__item:hover .header-bottom-menu__link {
    color: #ff00ff;
    border-bottom: 1px solid #ff00ff;
    transition: border 300ms, color 300ms;
}

.header-bottom-menu__item:active .header-bottom-menu__link {
    color: #1a1917;
    border: none;
    padding: 4px 8px 4px 7px;
    background: #0fff00;
    margin-left: -7px;
    margin-right: -8px;
}
