.header-top-menu {
    font-size: 16px;
    margin-bottom: 5px;
    /*
    line-height: 22px;*//*
    text-align: justify;
    max-width: 600px;
    margin-bottom: -1rem;*/
}
/*
.header-top-menu:after {
    display: inline-block;
    width: 100%;
    content: ".";
    height: 0;
    visibility: hidden;
}*/

.header-top-menu__item {
    display: inline-block;
    text-transform: uppercase;
    margin-right: 28px;
}

.header-top-menu__link {
    color: #1a1917;
    text-decoration: none;
    font-weight: bold;

}

.header-top-menu__item:hover .header-top-menu__link {
    color: #ff00ff;
    border-bottom: 1px solid #ff00ff;
}


.header-top-menu__item:active .header-top-menu__link {
    color: #1a1917;
    border: none;
    padding: 10px;
    background: #0fff00;
    margin-left: -10px;
    margin-right: -10px;
}
