.logo {
    width: 90px;
    height: 40px;
    background-image: url('../../images/svg/logo.svg');
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: middle;
    transition: background 300ms;

}

.logo:hover {
    background-image: url('../../images/svg/logo_pink.svg');
    transition: background 300ms;
}
