#mobile-menu {
    display: none;
}

#mobile-menu:target {
    display: block;
}

.mobile-menu {
    /*padding: 20px;*/
    padding: 20px 40px;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: white;
    overflow-y: auto;
    z-index: 2;
}

.mobile-menu__header {
    margin-bottom: 40px;
    margin-top: 5px;
}

.mobile-menu__search {
    float: right;
    background-image: url('../../images/svg/search.svg');
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position: center right;
    margin-top: 11px;
    margin-right: 10px;
    display: block;
}

.mobile-menu__close {
    text-decoration: none;
    color: #1a1917;
    display: inline-block;
    margin-right: 25px;
    /*margin-left: 10px;*/
    margin-left: 20px;
    width: 20px;
    height: 20px;
    background-image: url('../../images/svg/cross.svg');
    background-repeat: no-repeat;
    background-size: 20px 20px;
    vertical-align: middle;
}

.mobile-menu__logo {
    display: inline-block;
    vertical-align: middle;

}

@media all and (max-width: 767px)  {
    .mobile-menu {
      padding: 20px;
    }

    .mobile-menu__header {
        margin-top: 0;
    }

    .mobile-menu__search {
      margin-right: 0;
    }

    .mobile-menu__close {
      margin-left: 10px;
    }
}
