#mobile-menu {
    display: none;
}

#mobile-menu:target {
    display: block;
}

.mobile-menu {
    padding: 20px;
    padding-top: 33px;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: white;
    overflow-y: auto;
    z-index: 2;
}

.mobile-menu__header {
    margin-bottom: 20px;
}

.mobile-menu__search {
    float: right;
}

.mobile-menu__close {
    font-size: 45px;
    text-decoration: none;
    color: #1a1917;
    display: inline-block;
    margin-right: 20px;
    margin-left: 10px;
    width: 25px;
    vertical-align: middle;
    transform: rotate(-45deg);
}

.mobile-menu__logo {
    display: inline-block;
    vertical-align: middle;

}
