.quote-container {
  background: url("../../images/quote-bg_left.png") no-repeat 0 0;
}

.quote {
  padding: 40px 40px 35px 40px;
  background: #f7f7f7 url("../../images/quote-bg_right.png") no-repeat;
  /*background-position: calc(100% - 12px) calc(100% - 12px);*/
  background-position: bottom 12px right 12px;
}

.quote__text {
  font-size: 18px;
  line-height: 27px;
}

p.quote__text {
  margin: 0;
  margin-top: 13px;
}

.quote__first-letter {
  float: left;
  font-size: 50px;
  font-weight: bold;
  color: #ff00ff;
  margin-top: 18px;
  margin-right: 5px;
  margin-left: -4px;
}

.quote__author {
  /*margin-bottom: 15px;*/
}

.quote__author__photo {
  width: 140px;
  height: 140px;
  margin-right: 20px;
  margin-bottom: 15px;
  float: left;
  background: #ff00ff;
  /*background: #ff00ff url("/images/news.jpg") no-repeat;*/
}

.quote__author__info {
  display: block;
  margin-top: -8px;
  margin-bottom: 5px;
  font-family: "Georgia", serif;
  font-style: italic;
  vertical-align: top;
}

.quote__author__name {
  font-size: 24px;
  line-height: 36px;
  font-weight: bold;
}

.quote__author__position {
  font-size: 16px;
  line-height: 27px;
}

@media all and (max-width: 767px) {

  .quote-container {
    background: none;
  }
    .quote {
      padding: 20px 20px 10px 20px;
    }

    .quote__author__photo {
      margin-right: 10px;
    }

    .quote__author__info {
      margin-top: -4px;
    }

    .quote__author__name {
      font-size: 18px;
      line-height: 24px;
    }

    .quote__author__position {
      font-size: 12px;
      line-height: 18px;
    }
}
