.quote {
  padding: 40px;
  background: #f7f7f7;
}

.quote__text {
  font-size: 18px;
  line-height: 27px;
}

p.quote__text {
  margin-top: 20px;
}

.quote__first-letter {
  float: left;
  font-size: 50px;
  font-weight: bold;
  color: #ff00ff;
  margin-top: 18px;
  margin-right: 5px;
  margin-left: -4px;
}

.quote__author {
  /*margin-bottom: 15px;*/
}

.quote__author__photo {
  width: 140px;
  height: 140px;
  margin-right: 20px;
  margin-bottom: 15px;
  float: left;
  background: #ff00ff;
  /*background: #ff00ff url("/images/news.jpg") no-repeat;*/
}

.quote__author__info {
  display: inline-block;
  margin-top: -8px;
  margin-bottom: 5px;
  font-family: "Georgia", serif;
  font-style: italic;
  vertical-align: top;
}

.quote__author__name {
  font-size: 24px;
  line-height: 36px;
  font-weight: bold;
}

.quote__author__position {
  font-size: 16px;
  line-height: 27px;
}
