.rss-news {
    margin: 40px auto;
    max-width: 850px;
    /*padding: 0 20px;*/
    padding: 0 25px 0 40px;
    box-sizing: border-box;
}

.rss-news__header {
    /*font-size: 60px;
    line-height: 70px;
    margin-bottom: 20px;*/
    font-size: 48px;
    line-height: 60px;
    margin-bottom: 20px;
}

.rss-news__filter {
    margin-bottom: 40px;
    font-size: 32px;
    line-height: 48px;
}

.rss-news__date {
    margin: 50px 0 30px 80px;
    font-size: 24px;
    line-height: 22px;
    font-weight: bold;
}

@media all and (max-width: 767px) {
  .rss-news {
      margin: 26px auto;
      padding: 0 10px;
  }
  .rss-news__header {
      font-size: 32px;
      line-height: 44px;
  }

  .rss-news__filter {
      font-size: 0;
      line-height: 30px;
      vertical-align: top;
      margin-bottom: 30px;
  }

  .rss-news__date {
      margin: 40px 0 20px 60px;
  }

}
