.rss-list {
  margin-left: 10px;
}

.rss-list_preview {
  margin-left: 0;
}

.rss-list__item {
    margin-bottom: 20px;
}

.rss-list_preview .rss-list__item {
    margin-bottom: 10px;
}

@media all and (max-width: 767px) {
    .rss-list {
      margin-left: 0;
    }
}
