.rss-block {
    height: 620px;
    overflow-y: auto;
    padding: 15px 20px 20px 20px;


    min-width: 300px;
    max-width: 400px;
    width: calc(25% - 20px);
    margin-right: 20px;
    margin-bottom: 20px;
    background-color: white;
    float: left;
    display: block;
    color: black;
    box-sizing: border-box;
    text-decoration: none;

}

.rss-block__title {
    font-weight: bold;
    font-size: 24px;
    line-height: normal;
    margin-bottom: 20px;
}



@media all and (max-width: 1380px) {
    .rss-block {
        width: calc(33.3% - 20px);
    }
}

@media all and (max-width: 1060px) {
    .rss-block {
        width: calc(50% - 20px);
    }
}

@media all and (max-width: 768px) {
    .rss-block {
        width: 100%;
        max-width: none;
        margin-right: 0;
    }
}
