.rss-page::after {
    content: "";
    display: table;
    clear: both;
}

.rss-page__news {

        background: white;
    float: left;
    width: calc(100% - 400px);
}

.rss-page__aside {
    float: left;
    width: 400px;
}

@media all and (max-width: 767px) {
    .rss-page__aside {
      display: none;
    }

    .rss-page__news {
      width: 100%;
    }
}
