.rss {
    text-decoration: none;
    color: #1a1917;
    display: inline-block;
}

.rss::after {
    content: "";
    display: table;
    clear: both;
}


.rss__time {
    font-size: 16px;
    line-height: 22px;
    float: left;
    color: #a9a9a9;
    width: 70px;
}

.rss__preview {
    height: 140px;
    width: 140px;
    float: left;
    margin-right: 20px;
    margin-top: 4px;
}

.rss__preview + .rss__title {
    margin-left: 230px;
}

.rss__title {
    margin-left: 70px;
    margin-bottom: 0;
}

.rss a {
    color: #1a1917;
    text-decoration: none;
    transition: color 300ms;

}

.rss a:hover {
    color: #ff00ff;
    text-decoration: underline;
    transition: color 300ms;
}

.rss_important .rss__title {
    font-size: 32px;
    line-height: 48px;
    margin-top: -6px;
    margin-bottom: -10px;
}




.rss-list_preview .rss__time {
    width: 45px;
    font-size: 12px;
    line-height: 22px;
}


.rss-list_preview .rss__title {
    margin-left: 55px;
}

.rss-list_preview .rss__title a {
    font-size: 14px;
    line-height: 22px;
}

@media all and (max-width: 767px) {
    .rss__time {
        width: 60px;
    }

    .rss__preview {
        height: 70px;
        width: 70px;
        margin-right: 10px;
    }

    .rss__preview + .rss__title {
        margin-left: 140px;
    }

    .rss__title {
        margin-left: 60px;
    }
    .rss_important .rss__title {
        font-size: 24px;
        line-height: 36px;
    }
}
