.search-logo {
    width: 20px;
    height: 20px;
    display: inline-block;
    background-image: url('./../../images/svg/search.svg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    vertical-align: middle;
}

.search-logo_white {
    background-image: url('./../../images/svg/search_white.svg');
}

.search-logo_small {
    width: 15px;
    height: 15px;
}


.header-bottom-menu__link.search-logo {
    margin-bottom: 3px;
}

.header-bottom-menu__item:hover .search-logo {
    border: none !important;
}
