#search {
    display: none;
}

#search:target {
    display: block;
}

.search {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.8);
    overflow-y: auto;
    z-index: 10;
}

.search-container {
  width: 100%;
  height: auto;
  position: absolute;
  top: 97px;
  padding: 80px 0;
  background: #f7f7f7;
}

.search-wrapper {
  position: relative;
  width: auto;
  max-width: 780px;
  margin: 0 auto;
  padding: 0 40px;
}

.search__close {
    text-decoration: none;
    color: #1a1917;
    position: absolute;
    top: -45px;
    right: -5px;
    font-size: 60px;
    line-height: 70px;
}

.search__input {
  background: #ffffff;
  border: 1px solid #cccccc;
  box-sizing: border-box;
  /*font-family: 'Fira Sans';*/
  font-size: 18px;
  line-height: 50px;
  vertical-align: middle;
  color: #1a1917;
  outline: none;
}

.search__text-container {
  margin-bottom: 25px;
}

.search__text {
  float: left;
  width: calc(100% - 135px);
  height: 50px;
  padding: 15px 20px;
  margin-right: 10px;
}

.search__input::-webkit-input-placeholder {
    /*font-family: 'Fira Sans';*/
    font-size: 18px;
    line-height: 50px;
    font-style: italic;
    vertical-align: middle;
    color: #a6a6a6;
}

.search__input::-moz-placeholder {
    /*font-family: 'Fira Sans';*/
    font-size: 18px;
    line-height: 50px;
    font-style: italic;
    vertical-align: middle;
    color: #a6a6a6;
}

.search__input:-moz-placeholder {
    /*font-family: 'Fira Sans';*/
    font-size: 18px;
    line-height: 50px;
    font-style: italic;
    vertical-align: middle;
    color: #a6a6a6;
}

.search__input:-ms-input-placeholder {
    /*font-family: 'Fira Sans';*/
    font-size: 18px;
    line-height: 50px;
    font-style: italic;
    vertical-align: middle;
    color: #a6a6a6;
}

.search__button {
  float: left;
  width: 125px;
  height: 50px;
  border: none;
  /*border-radius: 1px;*/
  box-sizing: border-box;
  background: #0fff00;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  /*font-family: 'Fira Sans';*/
  font-size: 18px;
  font-weight: bold;
  transition: background 300ms, color 300ms;
}



.search__button:focus {
    outline: none;
}

@media all and (min-width: 768px) {
    .search__button:hover {
        color: white;
        background-color: #ff00ff;
        transition: background 300ms, color 300ms;
    }

    .search__button:hover .search-logo {
        background-image: url('../../images/svg/search_white.svg');
        transition: background 300ms, color 300ms;
    }

}
.search__button:active {
    color: white;
    background-color: #1a1917;
    transition: background 300ms, color 300ms;
}


.search__button:active .search-logo {
    background-image: url('../../images/svg/search_white.svg');
    transition: background 300ms, color 300ms;
}

.search__button span {
    vertical-align: middle;
}

.search__button .search-logo {
    transition: background 300ms, color 300ms;
  width: 18px;
  height: 18px;
  margin-right: 10px;
}

@media all and (max-width: 859px) {
    .search__close {
      right: 35px;
    }

    .search__text {
      margin-bottom: 10px;
    }
}

@media all and (max-width: 767px) {
    .search-container {
      top: 10px;
      padding: 60px 0 30px;
    }

    .search-wrapper {
      padding: 0 10px;
    }

    .search__close {
      top: -38px;
      right: 20px;
      font-size: 0;
      width: 20px;
      height: 20px;
      background-image: url('../../images/svg/cross.svg');
      background-repeat: no-repeat;
      background-size: 18px 18px;
    }

    .search__text {
      width: 100%;
      margin-right: 0;
    }
}
