.social-button_share-container {
  font-size: 0;
}

.social-button_share {
  display: inline-block;
  width: 90px;
  height: 40px;
  padding: 5px;
  margin-right: 10px;
  vertical-align: middle;
  border-radius: 1px;
  box-sizing: border-box;
  position: relative;
}

.social-button_share:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  font-size: 0;
}

.social-button_share__icon {
  display: block;
  width: 40px;
  height: 30px;
  position: absolute;
  top: 5px;
  left: 0;
  border-right: 1px solid #ffffff;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 25px;
}

.social-button_share__number {
  display: inline-block;
  margin-left: 45px;
  font-size: 14px;
  vertical-align: middle;
  color: #ffffff;
}

.social-button_share_fb {
  background: #44629e;
}
.social-button_share_fb .social-button_share__icon {
  background-image: url("./../../images/icons/fb_icon.png");
  /*background-position: 5px center;*/
}

.social-button_share_vk {
  background: #51749c;
}
.social-button_share_vk .social-button_share__icon {
  background-image: url("./../../images/icons/vk_icon.png");
  background-size: auto 20px;
  /*background-position: 5px center;*/
}

.social-button_share_tw {
  background: #22b9eb;
}
.social-button_share_tw .social-button_share__icon {
  background-image: url("./../../images/icons/tw_icon.png");
  background-size: auto 20px;
  /*background-position: left center;*/
}

.social-button_share_ok {
  background: #ff671b;
}
.social-button_share_ok .social-button_share__icon {
  background-image: url("./../../images/icons/ok_icon.png");
  /*background-position: 5px center;*/
}

@media all and (max-width: 767px) {
  .social-button_share {
    width: 25%;
    height: 40px;
    margin-right: 0;
  }

  .social-button_share__icon {
    width: 100%;
    left: 0;
    border: 0;
  }

  .social-button_share__number {
    display: none;
  }

}
