.subscribe-form__input-container {
  margin-bottom: 7px;
}

.subscribe-form__label {
  position: relative;
  display: block;
  float: left;
  margin-right: 10px;
}

.subscribe-form__placeholder {
    display: block;
    position: absolute;
    top: 9px;
    left: 15px;
    z-index: 2;
    font-family: 'Fira Sans';
    font-size: 14px;
    line-height: 22px;
    color: #1a1917;
    cursor: text;
}

.subscribe-form__email {
  display: block;
  position: relative;
  width: 300px;
  height: 40px;
  padding: 0 15px;
  font-family: 'Fira Sans';
  font-size: 14px;
  line-height: 22px;
  color: #1a1917;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: none;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
}

.subscribe-form__button {
  display: block;
  float: left;
  width: 220px;
  height: 40px;
  padding: 0;
  box-sizing: border-box;
  border: none;
  border-radius: 1px;
  background: #0fff00;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
}

.subscribe-form__button span {
  font-family: 'Fira Sans';
  font-size: 14px;
  line-height: 22px;
}

.subscribe-form__terms,
.subscribe-form__terms__link {
  margin: 0;
  font-family: "Georgia", serif;
  font-size: 12px;
  line-height: 18px;
  font-style: italic;
  text-decoration: none;
  color: #ffffff;
}

.subscribe-form__terms__link {
  border-bottom: 1px solid #ffffff;
}

@media all and (max-width: 767px) {
  .subscribe-form {
    width: 100%;
  }

  .subscribe-form__input-container {
    margin-bottom: 0;
  }

  .subscribe-form__label {
    width: 100%;
    max-width: 300px;
    /*float: none;*/
    margin-bottom: 10px;
  }

  .subscribe-form__button {
    /*float: none;*/
    margin-bottom: 7px;
  }

  .subscribe-form__terms {
    /*max-width: 80%;*/
  }
}
