.subscribe-form_inline-block {
    display: inline-block;
    vertical-align: top;
}

.subscribe-form__input-container {
    margin-bottom: 7px;
}

.subscribe-form__email {
    width: 300px;
    height: 40px;
    padding: 0 15px;
    margin-right: 10px;
    font-family: 'Fira Sans';
    font-size: 14px;
    line-height: 40px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #cccccc;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    outline: none;

    vertical-align: middle;
}



.subscribe-form__email::-webkit-input-placeholder {
    font-family: 'Fira Sans';
    font-size: 14px;
    line-height: 22px;
    vertical-align: middle;
    color: #1a1917;
}
.subscribe-form__email::-moz-placeholder {
    font-family: 'Fira Sans';
    font-size: 14px;
    /*line-height: 22px;*/
    vertical-align: middle;
    color: #1a1917;
}

.subscribe-form__email:-moz-placeholder {
    font-family: 'Fira Sans';
    font-size: 14px;
    /*line-height: 22px;*/
    vertical-align: middle;
    color: #1a1917;
}

.subscribe-form__email:-ms-input-placeholder {
    font-family: 'Fira Sans';
    font-size: 14px;
    line-height: 22px;
    vertical-align: middle;
    color: #1a1917;
}



.subscribe-form__button {
    width: 220px;
    height: 40px;
    padding: 0;
    box-sizing: border-box;
    border: none;
    border-radius: 1px;
    background: #0fff00;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    font-family: 'Fira Sans';
    font-size: 14px;
    line-height: 22px;
    outline: none;
}

.subscribe-form__terms,
.subscribe-form__link {
    margin: 0;
    font-family: "Georgia", serif;
    font-size: 12px;
    line-height: 18px;
    font-style: italic;
    text-decoration: none;
    color: #1a1917;
}

.subscribe-form__link {
    border-bottom: 1px solid #1a1917;
}

.subscribe-form_light .subscribe-form__terms, .subscribe-form_light .subscribe-form__link {
    color: white;
    border-color: white;
}

.subscribe-form__button:hover {
    background-color: #ff00ff;
    cursor: pointer;
    color: white;
    outline: none;
}

.subscribe-form__button:active {
    background-color: #000;
    cursor: pointer;
    color: white;
    outline: none;
}

@media all and (max-width: 767px) {
  .subscribe-form {
    width: 100%;
  }

  .subscribe-form__input-container {
    margin-bottom: 0;
  }

  .subscribe-form__email {
    width: 100%;
    max-width: 300px;
    margin-bottom: 10px;
  }

  .subscribe-form__button {
    margin-bottom: 7px;
  }
}
