.to-the-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
    border-radius: 50%;
    background-color: #f7f7f7;
    /*box-shadow: 0 0 7px 1px #999;*/
    opacity: 0;
    visibility: hidden;
    transition: box-shadow 300ms, opacity 300ms, visibility 300ms;
}

.to-the-top.visible {
    opacity: 0.6;
    visibility: visible;
    transition: opacity 300ms;
}


.to-the-top__icon {
    width: 50px;
    height: 50px;
    background-image: url('../../images/svg/arrow-in-circle-point-to-up.svg');
    background-size: 50px 50px;
    background-repeat: no-repeat;
    background-position: center center;
}

@media all and (min-width: 768px) {
    .to-the-top:hover {
        /*box-shadow: 0 0 7px 1px #333;*/
        opacity: 1;
        transition: box-shadow 300ms, opacity 300ms;
    }
}

@media all and (max-width: 767px) {
    .to-the-top__icon {
        width: 30px;
        height: 30px;
        background-size: 30px 30px;
    }

    .to-the-top {
        right: 10px;
        bottom: 10px;
    }
}
