.typo-page-title {
    font-size: 60px;
    line-height: 70px;
    margin-bottom: 20px;

}

@media all and (max-width: 767px) {
    .typo-page-title {
        font-size: 32px;
        line-height: 44px;
        margin-bottom: 24px;
    }
}
