<div id="dimmer" class="dimmer dimmer--hidden">


    <div class="dimmer__content dimmer__content--centered clearfix">
      <button class="dimmer__close-button" data-action="hide-dimmer" type="button" name="dimmer-close">X</button>
      <h3 class="h3-title h3-title--underline">Оставьте свои контакты</h3>
      <p class="dimmer__text">
        Мы свяжемся с вами в ближайшее время!
      </p>
      <%- include('_feedback') %>
    </div>
</div>
