<form class="feedback" action="https://formspree.io/mixrich1@gmail.com" method="POST">
  <!-- Formspree settings -->
  <input type="hidden" name="_next" value="//direct.r5m.me/thank-you" />
  <input type="hidden" name="_cc" value="mixrich1@gmail.com" />
  <input type="text" name="_gotcha" style="display:none" />
  <!-- Feedback form -->
  <input class="feedback__input" type="text" name="name" value="" placeholder="Ваше имя">
  <input class="feedback__input" type="text" name="contact" value="" required="true" placeholder="Ваш e-mail или телефон*">
  <textarea class="feedback__input feedback__input--text" name="comment" placeholder="Ваш комментарий"></textarea>
  <p class="feedback__privacy-statement">Гарантируем 100% конфиденциальность. Ваша информация не будет распространяться.<br><a href="https://www.iubenda.com/privacy-policy/7813851" target="_blank">Политика конфиденциальности</a></p>
  <button class="feedback__submit-button action-button" data-action="show-dimmer" type="submit" name="button">Оставить контакты</button>
</form>
