
<footer class="footer">
    <div class="wrapper clearfix">

        <div class="footer__column">
            <p>
                &copy; 2005-2016 obzor.westisib.ru
            </p>
            <p>
                Свидетельство о регистрации СМИ	<br>ЭЛ № ФС 77-23269 от 30.01.2006
            </p>
        </div>

        <div class="footer__column">
            <ul class="footer-menu">
                <li class="footer-menu__item"><a class="footer-menu__link" href="#">Новости</a></li>
                <li class="footer-menu__item"><a class="footer-menu__link" href="#">Статьи</a></li>
                <br>
                <li class="footer-menu__item"><a class="footer-menu__link" href="#">Спецпроекты</a></li>
                <li class="footer-menu__item"><a class="footer-menu__link" href="#">Афиша</a></li>
                <br>
                <li class="footer-menu__item"><a class="footer-menu__link" href="#">Поиск по сайту</a></li>
                <br>
                <li class="footer-menu__item"><a class="footer-menu__link" href="#">Мобильная версия</a></li>
            </ul>
        </div>

        <div class="footer__column">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </div>

        <div class="footer__column">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </div>
    </div>
</footer>
