
<footer class="footer clearfix">
    <div class="fl clearfix">
        <div class="footer__column footer__info">
            <ul>
                <li>
                    <b>ИП Захарченко Юлия Александровна</b>
                </li>
                <li>ОГРНИП 313890118900031</li>
                <li>ИНН 8 907 006 899 49</li>
                <li>
                    <i class="fa fa-phone" aria-hidden="true"></i>
                    +7 (999) 177 8901
                </li>
                <li>
                    <i class="fa fa-envelope-o" aria-hidden="true"></i>
                    info@r5m.me
                </li>
                <li>
                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                    г. Томск</li>
            </ul>
        </div>
        <div class="footer__column footer__slogan">
            Настройка контекстной рекламы Яндекс.Директ в г.Томск. Анализ и повышение эффективности существующих рекламных кампаний, рекомендации по продающим сайтам. SEO оптимизация и создание продающих сайтов с рекламой в интернете под ключ.
        </div>
        <div class="footer__column footer__ask">
            <p>
                Остались вопросы? Задайте их!
            </p>
            <button type="button" class="action-button" data-action="show-dimmer" name="button">Задать вопрос</button>

        </div>
    </div>
</footer>
