<header class="header-top clearfix">
    <div class="fl clearfix">
        <nav class="nav">
            <ul class="nav-container">
                <li class="nav__menu-item">
                    <a href="/" class="nav__menu-item__link"><div class="r5m-logo">
                        <span class="r5m-logo__title">r5m</span>
                        <sub class="r5m-logo__subtitle">group</sub>
                    </div></a>
                </li>
                <li class="nav__menu-item">
                    <a href="/reviews" class="nav__menu-item__link">Отзывы и кейсы</a>
                </li>
                <li class="nav__menu-item">
                    <a href="/prices" class="nav__menu-item__link">Цены</a>
                </li>
                <li class="nav__menu-item">
                    <a href="/examples" class="nav__menu-item__link">Работы конкурентов</a>
                </li>
                <li class="nav__menu-item">
                    <a href="/about" class="nav__menu-item__link">Контакты</a>
                </li>
            </ul>
        </nav>

        <div class="call-order">
          <div class="call-order__contacts--container">
            <a href="tel:+79991778901" class="call-order__contacts__phone">+7 (999) 177 8901</a><br>
            <span class="call-order__contacts__schedule">Ежедневно с 11.00 до 20.00</span>
          </div>
          <div class="call-order__button--container ">
            <button data-type="call" data-action="show-dimmer" class="call-order__button button r5m-action action-button">Заказать звонок</button>
          </div>
        </div>
    </div>
</header>
