<header class="header">
    <div class="wrapper clearfix">

        <div class="header__age">
            <span>18+</span>
        </div>
        <div class="header__logo">
            <a href="/" class="logo">

            </a>
        </div>
        <div class="header__nav">
            <nav>
                <ul class="header-top-menu">
                    <li class="header-top-menu__item"><a class="header-top-menu__link" href="#">Новости</a></li>
                    <li class="header-top-menu__item"><a class="header-top-menu__link" href="#">Статьи</a></li>
                    <li class="header-top-menu__item"><a class="header-top-menu__link" href="#">Спецпроекты</a></li>
                    <li class="header-top-menu__item"><a class="header-top-menu__link" href="#">Афиша</a></li>
                    <li class="header-top-menu__item"><a class="header-top-menu__link" href="#">Реклама</a></li>
                    <li class="header-top-menu__item"><a class="header-top-menu__link" href="#">Поиск</a></li>
                </ul>
                <ul class="header-bottom-menu">
                    <li class="header-bottom-menu__item"><a class="header-bottom-menu__link" href="#">Город</a></li>
                    <li class="header-bottom-menu__item"><a class="header-bottom-menu__link" href="#">Люди</a></li>
                    <li class="header-bottom-menu__item"><a class="header-bottom-menu__link" href="#">Бизнес</a></li>
                    <li class="header-bottom-menu__item"><a class="header-bottom-menu__link" href="#">Книги</a></li>
                    <li class="header-bottom-menu__item"><a class="header-bottom-menu__link" href="#">Еда</a></li>
                    <li class="header-bottom-menu__item"><a class="header-bottom-menu__link" href="#">Краеведение</a></li>
                    <li class="header-bottom-menu__item"><a class="header-bottom-menu__link" href="#">Архитектура и дизайн</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>


<header class="header header_mobile">
    <div class="wrapper clearfix">

        <div class="header__age">
            <span>18+</span>
        </div>

        <a href="#mobile-menu" class="header__burger">
            <span></span>
        </a>

        <div class="header__logo">
            <a href="/" class="logo">

            </a>
        </div>

        <div id="mobile-menu" class="mobile-menu">
            <div class="mobile-menu__header clearfix">
                <a href="/search" class="mobile-menu__search">

                </a>
                <a href="#" class="mobile-menu__close">
                </a>
                <div class="mobile-menu__logo">
                    <a href="/" class="logo">

                    </a>
                </div>
            </div>
            <ul class="mobile-menu-links">
                <li class="mobile-menu-links__item mobile-menu-links__item_main"><a class="mobile-menu-links__link" href="#">Новости</a></li>
                <li class="mobile-menu-links__item mobile-menu-links__item_main"><a class="mobile-menu-links__link" href="#">Статьи</a></li>
                <li class="mobile-menu-links__item mobile-menu-links__item_main"><a class="mobile-menu-links__link" href="#">Спецпроекты</a></li>
                <li class="mobile-menu-links__item mobile-menu-links__item_main"><a class="mobile-menu-links__link" href="#">Афиша</a></li>
                <li class="mobile-menu-links__item mobile-menu-links__item_main"><a class="mobile-menu-links__link" href="#">Реклама</a></li>

                <li class="mobile-menu-links__item"><a class="mobile-menu-links__link" href="#">Город</a></li>
                <li class="mobile-menu-links__item"><a class="mobile-menu-links__link" href="#">Люди</a></li>
                <li class="mobile-menu-links__item"><a class="mobile-menu-links__link" href="#">Бизнес</a></li>
                <li class="mobile-menu-links__item"><a class="mobile-menu-links__link" href="#">Книги</a></li>
                <li class="mobile-menu-links__item"><a class="mobile-menu-links__link" href="#">Еда</a></li>
                <li class="mobile-menu-links__item"><a class="mobile-menu-links__link" href="#">Краеведение</a></li>
                <li class="mobile-menu-links__item"><a class="mobile-menu-links__link" href="#">Архитектура и дизайн</a></li>

            </ul>
        </div>

    </div>
</header>
