<header class="header">
    <div class="wrapper clearfix">

        <div class="header__age">
            <span>18+</span>
        </div>
        <div class="header__logo">
            <a href="/" class="logo">

            </a>
        </div>
        <div class="header__nav">
            <nav>
                <ul class="header-top-menu">
                    <li class="header-top-menu__item"><a class="header-top-menu__link" href="#">Новости</a></li>
                    <li class="header-top-menu__item"><a class="header-top-menu__link" href="#">Статьи</a></li>
                    <li class="header-top-menu__item"><a class="header-top-menu__link" href="#">Спецпроекты</a></li>
                    <li class="header-top-menu__item"><a class="header-top-menu__link" href="#">Афиша</a></li>
                    <li class="header-top-menu__item"><a class="header-top-menu__link" href="#">Реклама</a></li>
                    <li class="header-top-menu__item"><a class="header-top-menu__link" href="#">Поиск</a></li>
                </ul>
                <ul class="header-bottom-menu">
                    <li class="header-bottom-menu__item"><a class="header-bottom-menu__link" href="#">Город</a></li>
                    <li class="header-bottom-menu__item"><a class="header-bottom-menu__link" href="#">Люди</a></li>
                    <li class="header-bottom-menu__item"><a class="header-bottom-menu__link" href="#">Бизнес</a></li>
                    <li class="header-bottom-menu__item"><a class="header-bottom-menu__link" href="#">Книги</a></li>
                    <li class="header-bottom-menu__item"><a class="header-bottom-menu__link" href="#">Еда</a></li>
                    <li class="header-bottom-menu__item"><a class="header-bottom-menu__link" href="#">Краеведение</a></li>
                    <li class="header-bottom-menu__item"><a class="header-bottom-menu__link" href="#">Архитектура и дизайн</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>


<header class="header header_mobile">
    <div class="wrapper clearfix">

        <div class="header__age">
            <span>18+</span>
        </div>

        <a href="#mobile-menu" class="header__burger">
            <span></span>
        </a>

        <div class="header__logo">
            <a href="/" class="logo">

            </a>
        </div>

        <div id="mobile-menu" class="mobile-menu">
            <div class="mobile-menu__header clearfix">
                <div class="mobile-menu__search">
                    search logo
                </div>
                <a href="#" class="mobile-menu__close">
                    +
                </a>
                <div class="mobile-menu__logo">
                    Logo here
                </div>
            </div>
            <div class="mobile-menu__links">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </div>
        </div>

    </div>
</header>
