.expert {
    font-size: 14px;
    margin: 25px auto;
    clear: both;
}

.expert .exp-image {
    float: left;
position: relative;
width: 150px;
height: 150px;
overflow: hidden;
margin-top: -2px;
}

.expert .exp-image section {
    width: 100%;
    height: 100%;
}

.expert .exp-image section img {
    width: 100%;
    height: 100%;
}

.expert .exp-image .mask {
    background: url('../../../images/legacy/mask.png') no-repeat center top;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-size: 100% 100%;
}

.expert .opinion {
    padding-left: 164px;
    line-height: 22px;
}

.expert .opinion .exp-head:first-child {
    font-size: 10px;
    text-transform: uppercase;
    margin-bottom: 8px;
}

.expert .opinion div {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
    line-height: 15px;
}

.expert .opinion .exp-head {
    display: block;
    color: #b3b3b3;
    line-height: 15px;
    margin-bottom: 5px;
}

@media all and (max-width: 767px) {
    .expert .exp-image {
        width: 100px;
        height: 100px;
    }

    .expert .opinion {
        padding-left: 120px;
    }
}






.cite {
        margin: 20px auto;
        clear: both;
}

.cite img {
    float: left;
    padding-top: 7px;
}

.cite .padded {
    padding-left: 169px;
}

.cite h3 {
    margin-bottom: 12px;
    font-weight: bold;
font-size: 20px;
color: #333;
line-height: 25px;
}

.cite div {
    font-size: 16px;
    line-height: 24px;
    font-style: italic;
}
@media all and (max-width: 767px) {
    .cite img {
        float: none;
    }

    .cite .padded {
        padding-left: 0;
        padding-top: 10px;
    }
}



.picture {
    clear: both;
    background: #fbf9ed;
    padding: 20px;
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 20px;
    clear: both;
}

.picture img {
    margin-top: 15px;
    display: block;
    width: 100%;
}





.line2 {
    height: 8px;
    background: url('../../../images/legacy/hr.png') top no-repeat;
    opacity: 0.5;
    margin-bottom: 15px;
    clear: both;
}

.o_h3fleron h3 {
    font-weight: bold;
    font-size: 20px;
    color: #333;
    line-height: 25px;
    margin-bottom: 15px;
}



.article blockquote {
    background: #fbf9ed;
    font-size: 16px;
    line-height: 24px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 10px 10px 0 0 #f0f0f0;
    margin-bottom: 40px;
    clear: both;
}
