/* Fact component */
.fact {
    padding: 40px 40px 36px 40px;
    background: #f7f7f7 url('/images/svg/question_white.svg') -17px 10px no-repeat, #f7f7f7 url('/images/svg/question_white.svg') bottom 7px right 10px no-repeat;
    background-size: auto 130px, auto 65px;
    margin-bottom: 40px;
}
.fact__image-container {
    float: left;
    width: 160px;
    height: 160px;
    margin: 0;
    margin-right: 20px;
    overflow: hidden;
}
.fact__image-container img {
    height: 160px;
    width: auto;
}
.fact__content {
    display: block;
    margin-left: 180px;
    font-family: "Georgia", serif;
    font-size: 16px;
    line-height: 24px;
    font-style: italic;
}
@media all and (max-width: 767px) {
    .fact {
        padding: 20px 20px 12px 20px;
        margin-left: -10px;
        margin-right: -10px;
        margin-bottom: 34px;
    }
    /*.fact > img {
      display: block;
      float: none;
      margin-right: 0;
      margin-bottom: 15px;
    }*/
    /*
    .fact > p {
      margin: 0;
    }*/
}
