.reference-container {
    margin: 0 auto;
    margin-bottom: 40px;
    position: relative;
}
.reference {
    display: block;
    width: 100%;
    padding: 20px 0 16px 20px;
    background: #f7f7f7;
    text-transform: none;
    text-decoration: none;
    box-sizing: border-box;
    color: #1a1917;
    position: relative;
    height: 100px;
    overflow: hidden;
}
.reference__photo {
    display: inline-block;
    vertical-align: middle;
    width: 60px;
    height: 60px;
    margin-right: 20px;
    float: left;
}
.reference__link {
    display: inline-block;
    vertical-align: middle;
    width: 120px;
    padding-right: 80px;
    font-size: 14px;
    line-height: 22px;
    float: right;
    margin-top: 10px;
    color: #e8e8e8;
}
.reference__content {
    float: left;
    display: inline-block;
    vertical-align: middle;
    width: calc(100% - 300px);
    max-width: 370px;
    padding-right: 30px;
    font-size: 14px;
    line-height: 22px;
    margin-top: -2px;
    box-sizing: border-box;
}
.reference__content p {
    font-size: 14px;
    line-height: 22px;
}
.reference:before, .reference:after {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: 50px;
    height: 50px;
    box-sizing: border-box;
}
.reference:before {
    bottom: 0;
    top: auto;
    border: 25px solid transparent;
    border-right: 25px solid white;
    border-bottom: 25px solid white
}
.reference:after {
    border: 25px solid transparent;
    border-top: 25px solid white;
    border-right: 25px solid white;
}
.reference p {
    margin-bottom: 0;
}

@media all and (max-width: 1100px) {
    .reference:before, .reference:after {
        display: none;
    }
    .reference__link {
        display: none;
    }
    .reference__content {
        width: calc(100% - 100px);
    }
}



@media all and (max-width: 767px) {
    .reference-container {
        margin: 24px 0;
    }
    .reference {
        width: 100%;

        height: auto;
    }
    .reference:before, .reference:after {
        display: none;
    }
    .reference__text {
        margin-right: 5px;
        margin-left: 75px;
    }
    .reference__link {
        display: none;
    }
}


@media all and (min-width: 768px) {
    .reference:hover {
        background: #ff00ff;
        color: white;
    }
    .reference:active {
        background: #000;
        color: white;
    }
}
