.article-tags-container {
    margin-top: 20px;
    margin-bottom: 40px;
}

.article-tags li + li:before {
    content: ", ";
}
.article-tags {
    display: inline;
    list-style: none;
}
ul.article-tags > li {
    display: inline;
    margin-left: 0;
}
