<ul class="rss-list">
    <li class="rss-list__item">
        <div class="rss" href="#">
            <span class="rss__time">14:22</span>
            <p class="rss__title"><a href="#">Медведев смог зайти на заблокированный RuTracker со своего iPad</a></p>
        </div>
    </li>

    <li class="rss-list__item">
        <div class="rss rss_important" href="#">
            <span class="rss__time">14:22</span>
            <p class="rss__title"><a href="#">Медведев смог!!!</a></p>
        </div>
    </li>

    <li class="rss-list__item">
        <div class="rss" href="#">
            <span class="rss__time">14:22</span>
            <p class="rss__title"><a href="#">Медведев смог зайти на заблокированный RuTracker со своего iPad</a></p>
        </div>
    </li>

    <li class="rss-list__item">
        <div class="rss rss_important" href="#">
            <span class="rss__time">14:22</span>
            <img class="rss__preview" src="./images/rss-preview.jpg" alt=""/>
            <p class="rss__title"><a href="#">ВТБ24 нашел пробел в законе о рынке форекс</a></p>
        </div>
    </li>

    <li class="rss-list__item">
        <div class="rss" href="#">
            <span class="rss__time">14:22</span>
            <p class="rss__title"><a href="#">Медведев смог зайти на заблокированный RuTracker со своего iPad</a></p>
        </div>
    </li>

    <li class="rss-list__item">
        <div class="rss rss_important" href="#">
            <span class="rss__time">14:22</span>
            <p class="rss__title"><a href="#">Медведев смог!!!</a></p>
        </div>
    </li>

    <li class="rss-list__item">
        <div class="rss" href="#">
            <span class="rss__time">14:22</span>
            <p class="rss__title"><a href="#">Медведев смог зайти на заблокированный RuTracker со своего iPad</a></p>
        </div>
    </li>

    <li class="rss-list__item">
        <div class="rss" href="#">
            <span class="rss__time">14:22</span>
            <img class="rss__preview" src="./images/rss-preview.jpg" alt=""/>
            <p class="rss__title"><a href="#">ВТБ24 нашел пробел в законе о рынке форекс</a></p>
        </div>
    </li>

    <li class="rss-list__item">
        <div class="rss" href="#">
            <span class="rss__time">14:22</span>
            <p class="rss__title"><a href="#">Медведев смог зайти на заблокированный RuTracker со своего iPad</a></p>
        </div>
    </li>

    <li class="rss-list__item">
        <div class="rss rss_important" href="#">
            <span class="rss__time">14:22</span>
            <p class="rss__title"><a href="#">Медведев смог!!!</a></p>
        </div>
    </li>

    <li class="rss-list__item">
        <div class="rss" href="#">
            <span class="rss__time">14:22</span>
            <p class="rss__title"><a href="#">Медведев смог зайти на заблокированный RuTracker со своего iPad</a></p>
        </div>
    </li>

    <li class="rss-list__item">
        <div class="rss rss_important" href="#">
            <span class="rss__time">14:22</span>
            <img class="rss__preview" src="./images/rss-preview.jpg" alt=""/>
            <p class="rss__title"><a href="#">ВТБ24 нашел пробел в законе о рынке форекс</a></p>
        </div>
    </li>

</ul>
