<div class="rss-news">
    <h2 class="rss-news__header">Новости</h2>
    <div class="rss-news__filter">
        Показывать
        <span  class="toogle" ><input id="tomsk" type="checkbox" name="name" value="tomsk" checked> <label for="tomsk">томские</label></span>
        и
        <span  class="toogle" ><input id="not-tomsk" type="checkbox" name="name" value="tomsk"> <label class="toogle" for="not-tomsk">не томские</label></span>
    </div>

    <ul class="rss-list">
        <li class="rss-list__item">
            <a  class="rss" href="#">
                <span class="rss__time">в 14:22</span>
                <h4 class="rss__title">Медведев смог зайти на заблокированный RuTracker со своего iPad</h4>
            </a>
        </li>

        <li class="rss-list__item">
            <a  class="rss  rss_important" href="#">
                <span class="rss__time">в 14:22</span>
                <h4 class="rss__title">Медведев смог!!!</h4>
            </a>
        </li>

        <li class="rss-list__item">
            <a  class="rss  rss_important" href="#">
                <span class="rss__time">в 11:33</span>
                <img class="rss__preview" src="./../../images/rss-preview.jpg" alt="" />
                <h4 class="rss__title">ВТБ24 нашел пробел в законе о рынке форекс</h4>
            </a>
        </li>

        <li class="rss-list__item">
            <a  class="rss" href="#">
                <span class="rss__time">в 14:22</span>
                <h4 class="rss__title">Медведев смог зайти на заблокированный RuTracker со своего iPad</h4>
            </a>
        </li>

        <li class="rss-list__item">
            <a  class="rss" href="#">
                <span class="rss__time">в 14:22</span>
                <img class="rss__preview" src="./../../images/rss-preview.jpg" alt="" />
                <h4 class="rss__title">Медведев смог!!!</h4>
            </a>
        </li>

        <li class="rss-list__item">
            <a  class="rss" href="#">
                <span class="rss__time">в 11:33</span>
                <h4 class="rss__title">ВТБ24 нашел пробел в законе о рынке форекс</h4>
            </a>
        </li>

        <li class="rss-list__item">
            <a  class="rss" href="#">
                <span class="rss__time">в 14:22</span>
                <h4 class="rss__title">Медведев смог зайти на заблокированный RuTracker со своего iPad</h4>
            </a>
        </li>

        <li class="rss-list__item">
            <a  class="rss" href="#">
                <span class="rss__time">в 14:22</span>
                <h4 class="rss__title">Медведев смог!!!</h4>
            </a>
        </li>

        <li class="rss-list__item">
            <a  class="rss" href="#">
                <span class="rss__time">в 11:33</span>
                <img class="rss__preview" src="./../../images/rss-preview.jpg" alt="" />
                <h4 class="rss__title">ВТБ24 нашел пробел в законе о рынке форекс</h4>
            </a>
        </li>

        <li class="rss-list__item">
            <a  class="rss  rss_important" href="#">
                <span class="rss__time">в 14:22</span>
                <h4 class="rss__title">Медведев смог зайти на заблокированный RuTracker со своего iPad</h4>
            </a>
        </li>

        <li class="rss-list__item">
            <a  class="rss" href="#">
                <span class="rss__time">в 14:22</span>
                <h4 class="rss__title">Медведев смог!!!</h4>
            </a>
        </li>

        <li class="rss-list__item">
            <a  class="rss rss_important" href="#">
                <span class="rss__time">в 11:33</span>
                <h4 class="rss__title">ВТБ24 нашел пробел в законе о рынке форекс</h4>
            </a>
        </li>

        <li class="rss-list__item">
            <a  class="rss" href="#">
                <span class="rss__time">в 14:22</span>
                <h4 class="rss__title">Медведев смог зайти на заблокированный RuTracker со своего iPad</h4>
            </a>
        </li>

        <li class="rss-list__item">
            <a  class="rss" href="#">
                <span class="rss__time">в 14:22</span>
                <h4 class="rss__title">Медведев смог!!!</h4>
            </a>
        </li>

        <li class="rss-list__item">
            <a  class="rss" href="#">
                <span class="rss__time">в 11:33</span>
                <h4 class="rss__title">ВТБ24 нашел пробел в законе о рынке форекс</h4>
            </a>
        </li>
    </ul>
</div>
