<div class="rss-page">
    <div class="rss-page__news">
        
        <%- include('./list') %>


    </div>
    <div class="rss-page__aside">
            <%- include('../common/aside') %>
    </div>
</div>
