<div class="rss-page">
    <div class="rss-page__news">

        <div class="rss-news">
            <h2 class="rss-news__header">Новости</h2>
            <div class="rss-news__filter">
                Показывать
                <span  class="toogle" ><input id="tomsk" type="checkbox" name="name" value="tomsk" checked> <label for="tomsk">томские</label></span>
                и
                <span  class="toogle" ><input id="not-tomsk" type="checkbox" name="name" value="tomsk"> <label class="toogle" for="not-tomsk">не томские</label></span>
            </div>

            <%- include('./list') %>


            <button class="button-more button-more_darker button-more_margin" type="button" name="button">Показать больше новостей</button>

            <%- include('./../common/subscribe-form') %>


        </div>


    </div>
    <div class="rss-page__aside">
            <%- include('../common/aside') %>
    </div>
</div>
