<div class="expert">
    <div class="exp-image">
        <div class="mask hide4admin"></div>
        <section id="exp-image"><img alt="" src="images/legacy/nastya.jpg"></section>
    </div>
    <div class="opinion">
        <section class="exp-head" id="exp-head">Мнение эксперта</section>
        <div id="exp-name">Имя эксперта</div>
        <section class="exp-head" id="exp-range">в каких чинах находится</section>
        <section id="exp-comment">Собственно комментарий</section>
    </div>
    <div class="clearfix"></div>
</div>

<div class="cite">
    <section id="exp-photo"><img alt="" src="images/legacy/vrezka.jpg"></section>
    <h3 class="padded" id="exp-name">Нина, менеджер проектов (24 года):</h3>
    <div class="padded" id="exp-text">«День святого Валентина я, как правило отмечаю. В юности этому празднику, конечно, придавалось несколько шутливое значение – тогда о любви не было и речи. С возрастом же все четче приходило осознание, что атмосферу
        этого праздника нужно разделить с «тем самым человеком». Когда в моей жизни появился такой человек, этот праздник стал для меня значимым. Поэтому и главный подарок для меня - это любимый человек рядом. А если говорить о более материальных вещах, то
        мне было приятно получить типично девчачий подарок - букет тюльпанов. Дарю ли подарки другим? Нет. В школе это были валентинки для друзей. А сейчас я вижу смысл делать подарок только одному человеку».</div>
    <div class="clearfix"></div>
</div>

<div class="line2"></div>

<div class="line3"></div>

<div class="picture">
    <p>Это блок текста на сером фоне. А ниже - фото, шириной 671 пиксель, которое можно удалить за ненадобностью.<img alt="" src="images/lamps.jpg"></p>
</div>




<div class="o_h3fleron">
    <div class="line2"></div>
    <h3 id="h3fleron" style="text-align: center;">Это заголовок 3-го размера, обрамленный линиями с листочками</h3>
    <div class="line2"></div>
</div>




<blockquote class="o_cite">
    <div id="o_cite">Влюбленные пары в Красноярске в канун Дня святого Валентина смогут назвать своими именами... Мадагаскарских тараканов, живущих в парке флоры и фауны "Роев Ручей". Взамен красноярцы получат от администрации парка соответствующие
        сертификаты – всего 50 штук.</div>
</blockquote>




<!--<div class="incut">
    <div class="inner">
        <section id="ins-head">
            <span>Подробнее про нестандартные кулинарные подарки читайте в статье:</span>
        </section>
        <section id="ins-image">
            <p><img alt="" src="/pics/a1.jpg"></p>
        </section>
        <div class="cats cat-people">Люди<span></span>Гости города</div>
        <section id="ins-link">
            <a href="#">Ресторан предложил клиентам букеты из колбасы</a>
        </section>
    </div>
</div> -->
