// max and min-width for flexible-container of desktop screen
screenMaxWidth = 1400px;
screenMinWidth = 900px;

backgroundColor = #1f324a;//#074F57;//#D6F49D;//#2E4057;
headerTextColor = backgroundColor;
headerTextHoverColor = #0F8B8D;
headerBackground = #f8f8f8;




contrastColor = #E7BB41;
contrastColorDark = #A2790A;

darkColor = #230C0F;//#393E41;
lightColor = #f8f8f8;
mediumColor = #D3D0CB;
mintColor = #074F57;//#0F8B8D;

borderRadius = 3px;


h2color = headerTextColor;
h2colorWhite = #D3D0CB;
h2UnderlineColor = #d3d0cb;


linksColor = #174ca0;


borderBox() {
  box-sizing: border-box;
}

borderRadius(n) {
  -webkit-border-radius: n;
  -moz-border-radius: n;
  border-radius: n;
}

translateXY(x,y) {
  transform: translate(x,y);
}
