<%
var fonts = [
'eot/FiraSans-Hair.eot',
'woff/FiraSans-Hair.woff',
'ttf/FiraSans-Hair.ttf',
'eot/FiraSans-HairItalic.eot',
'woff/FiraSans-HairItalic.woff',
'ttf/FiraSans-HairItalic.ttf',
'eot/FiraSans-UltraLight.eot',
'woff/FiraSans-UltraLight.woff',
'ttf/FiraSans-UltraLight.ttf',
'eot/FiraSans-UltraLightItalic.eot',
'woff/FiraSans-UltraLightItalic.woff',
'ttf/FiraSans-UltraLightItalic.ttf',
'eot/FiraSans-Light.eot',
'woff/FiraSans-Light.woff',
'ttf/FiraSans-Light.ttf',
'eot/FiraSans-LightItalic.eot',
'woff/FiraSans-LightItalic.woff',
'ttf/FiraSans-LightItalic.ttf',
'eot/FiraSans-Italic.eot',
'woff/FiraSans-Italic.woff',
'ttf/FiraSans-Italic.ttf',
'eot/FiraSans-Medium.eot',
'woff/FiraSans-Medium.woff',
'ttf/FiraSans-Medium.ttf',
'eot/FiraSans-MediumItalic.eot',
'woff/FiraSans-MediumItalic.woff',
'ttf/FiraSans-MediumItalic.ttf',
'eot/FiraSans-SemiBold.eot',
'woff/FiraSans-SemiBold.woff',
'ttf/FiraSans-SemiBold.ttf',
'eot/FiraSans-SemiBoldItalic.eot',
'woff/FiraSans-SemiBoldItalic.woff',
'ttf/FiraSans-SemiBoldItalic.ttf',
'eot/FiraSans-Bold.eot',
'woff/FiraSans-Bold.woff',
'ttf/FiraSans-Bold.ttf',
'eot/FiraSans-BoldItalic.eot',
'woff/FiraSans-BoldItalic.woff',
'ttf/FiraSans-BoldItalic.ttf',
'eot/FiraSans-ExtraBold.eot',
'woff/FiraSans-ExtraBold.woff',
'ttf/FiraSans-ExtraBold.ttf',
'eot/FiraSans-ExtraBoldItalic.eot',
'woff/FiraSans-ExtraBoldItalic.woff',
'ttf/FiraSans-ExtraBoldItalic.ttf',
'eot/FiraSans-Heavy.eot',
'woff/FiraSans-Heavy.woff',
'ttf/FiraSans-Heavy.ttf',
'eot/FiraSans-HeavyItalic.eot',
'woff/FiraSans-HeavyItalic.woff',
'ttf/FiraSans-HeavyItalic.ttf',
'eot/FiraMono-Regular.eot',
'woff/FiraMono-Regular.woff',
'ttf/FiraMono-Regular.ttf'
];

fonts.forEach(function(font){
    %>
    <div><a href='https://code.cdn.mozilla.net/fonts/<%= font %>'><%= font %></div></a>
    <%
})

%>
