.search-logo {
    width: 20px;
    height: 20px;
    display: inline-block;
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDIwLjEuMCwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPgo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IgoJIHZpZXdCb3g9IjAgMCAxOCAxOCIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAwIDAgMTggMTg7IiB4bWw6c3BhY2U9InByZXNlcnZlIj4KPHN0eWxlIHR5cGU9InRleHQvY3NzIj4KCS5zdDB7ZmlsbC1ydWxlOmV2ZW5vZGQ7Y2xpcC1ydWxlOmV2ZW5vZGQ7fQo8L3N0eWxlPgo8cGF0aCBjbGFzcz0ic3QwIiBkPSJNMTcuOSwxNi42YzAuMiwwLjQsMC4xLDAuOC0wLjIsMS4xYy0wLjMsMC4zLTAuOCwwLjQtMS4xLDAuMkwxNi41LDE4bC0zLjYtMy42Yy0xLjMsMS0zLDEuNy00LjksMS43CgljLTQuNCwwLTgtMy42LTgtOGMwLTQuNCwzLjYtOCw4LThzOCwzLjYsOCw4YzAsMS44LTAuNiwzLjUtMS43LDQuOUwxNy45LDE2LjZMMTcuOSwxNi42eiBNOCwyQzQuNywyLDIsNC43LDIsOGMwLDMuMywyLjcsNiw2LDYKCWMzLjMsMCw2LTIuNyw2LTZDMTQsNC43LDExLjMsMiw4LDJ6Ii8+Cjwvc3ZnPgo=);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    vertical-align: middle;
}

.search-logo_white {
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDIwLjEuMCwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPgo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IgoJIHZpZXdCb3g9IjAgMCAxOCAxOCIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAwIDAgMTggMTg7IiB4bWw6c3BhY2U9InByZXNlcnZlIj4KPHN0eWxlIHR5cGU9InRleHQvY3NzIj4KCS5zdDB7ZmlsbC1ydWxlOmV2ZW5vZGQ7Y2xpcC1ydWxlOmV2ZW5vZGQ7fQo8L3N0eWxlPgo8cGF0aCBjbGFzcz0ic3QwIiBkPSJNMTcuOSwxNi42YzAuMiwwLjQsMC4xLDAuOC0wLjIsMS4xYy0wLjMsMC4zLTAuOCwwLjQtMS4xLDAuMkwxNi41LDE4bC0zLjYtMy42Yy0xLjMsMS0zLDEuNy00LjksMS43CgljLTQuNCwwLTgtMy42LTgtOGMwLTQuNCwzLjYtOCw4LThzOCwzLjYsOCw4YzAsMS44LTAuNiwzLjUtMS43LDQuOUwxNy45LDE2LjZMMTcuOSwxNi42eiBNOCwyQzQuNywyLDIsNC43LDIsOGMwLDMuMywyLjcsNiw2LDYKCWMzLjMsMCw2LTIuNyw2LTZDMTQsNC43LDExLjMsMiw4LDJ6IiBmaWxsPSIjZmZmIi8+Cjwvc3ZnPgo=);
}

.search-logo_small {
    width: 15px;
    height: 15px;
}


.header-bottom-menu__link.search-logo {
    margin-bottom: 3px;
}

.header-bottom-menu__item:hover .search-logo {
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDIwLjEuMCwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPgo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IgoJIHZpZXdCb3g9IjAgMCAxOCAxOCIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAwIDAgMTggMTg7IiB4bWw6c3BhY2U9InByZXNlcnZlIj4KPHN0eWxlIHR5cGU9InRleHQvY3NzIj4KCS5zdDB7ZmlsbC1ydWxlOmV2ZW5vZGQ7Y2xpcC1ydWxlOmV2ZW5vZGQ7fQo8L3N0eWxlPgo8cGF0aCBjbGFzcz0ic3QwIiBkPSJNMTcuOSwxNi42YzAuMiwwLjQsMC4xLDAuOC0wLjIsMS4xYy0wLjMsMC4zLTAuOCwwLjQtMS4xLDAuMkwxNi41LDE4bC0zLjYtMy42Yy0xLjMsMS0zLDEuNy00LjksMS43CgljLTQuNCwwLTgtMy42LTgtOGMwLTQuNCwzLjYtOCw4LThzOCwzLjYsOCw4YzAsMS44LTAuNiwzLjUtMS43LDQuOUwxNy45LDE2LjZMMTcuOSwxNi42eiBNOCwyQzQuNywyLDIsNC43LDIsOGMwLDMuMywyLjcsNiw2LDYKCWMzLjMsMCw2LTIuNyw2LTZDMTQsNC43LDExLjMsMiw4LDJ6IiBmaWxsPSIjZmYwMGZmIi8+Cjwvc3ZnPgo=);
    border-bottom: 1px solid #ff00ff;
    padding-bottom: 4px;
}

.header-bottom-menu__item:active .search-logo_small {
    width: 15px;
    height: 15px;
    display: inline-block;
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDIwLjEuMCwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPgo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IgoJIHZpZXdCb3g9IjAgMCAxOCAxOCIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAwIDAgMTggMTg7IiB4bWw6c3BhY2U9InByZXNlcnZlIj4KPHN0eWxlIHR5cGU9InRleHQvY3NzIj4KCS5zdDB7ZmlsbC1ydWxlOmV2ZW5vZGQ7Y2xpcC1ydWxlOmV2ZW5vZGQ7fQo8L3N0eWxlPgo8cGF0aCBjbGFzcz0ic3QwIiBkPSJNMTcuOSwxNi42YzAuMiwwLjQsMC4xLDAuOC0wLjIsMS4xYy0wLjMsMC4zLTAuOCwwLjQtMS4xLDAuMkwxNi41LDE4bC0zLjYtMy42Yy0xLjMsMS0zLDEuNy00LjksMS43CgljLTQuNCwwLTgtMy42LTgtOGMwLTQuNCwzLjYtOCw4LThzOCwzLjYsOCw4YzAsMS44LTAuNiwzLjUtMS43LDQuOUwxNy45LDE2LjZMMTcuOSwxNi42eiBNOCwyQzQuNywyLDIsNC43LDIsOGMwLDMuMywyLjcsNiw2LDYKCWMzLjMsMCw2LTIuNyw2LTZDMTQsNC43LDExLjMsMiw4LDJ6Ii8+Cjwvc3ZnPgo=);
    background-size: 15px 15px;
    background-repeat: no-repeat;
    vertical-align: middle;
    background-position: center center;
    background-color: transparent;
    padding: 0;
    margin-left: 0;
    margin-right: 0;
}
