<div class="quote-container">
  <div class="quote">
    <p>На завод я пришла в 1944 году, мне тогда шел семнадцатый год.
      До этого я жила с родителями в деревне Ломовицк Первомайского района. Окончила семь классов.
      Помню, всех учеников заставили хлеб убирать, потому что зима уже наставала.
      А лошадей не было, на бычках, на коровах возили снопы, складывали в скирды.
      Меня корова затащила в кусты, а руки-то молодые, веревкой до крови стерла, пока ее из этих кустов вытянуть пыталась.
      Плачу и думаю: «Хоть бы меня в ФЗУ (школа фабрично-заводского ученичества — прим. ред.) взяли».
      Возвращаюсь домой, а мне повестка в ФЗУ. Приехала женщина от завода, нас двоих с подружкой забрала.
      Поселили в общежитие (находилось недалеко от пересечения проспекта Кирова и улицы Студенческой — прим. ред.).
    </p>
  </div>
</div>

<div class="quote-container">
  <div class="quote">
    <div class="quote__author clearfix">
      <img class="quote__author__photo" src="images/persons/Petlina_N.jpg" alt="Надежда Петлина" />
      <div class="quote__author__info">
        <span class="quote__author__name">Надежда<br/>Петлина</span><br/>
        <span class="quote__author__position">председатель Совета ветеранов ТЭЛЗ</span>
      </div>
    </div>
    <p>Когда я в 1965 году пришла на завод, наши с Марией Антоновной линейки стояли рядышком.
      Она была лучшим специалистом. Настолько все делала искусно, что у нее ничего не трескалось, не выбрасывалось в брак.
      Если уж они перегоревшую лампу оживляли, то «ножку», которая на пол упала, подберут обязательно.
      Ее можно наладить, вновь запаять.</p>
    <p>А еще Мария Антоновна всегда была очень скромной, положительной. Никогда не нагрубит, если спросишь совета — подойдет, расскажет.</p>
    <p>Ее портреты часто висели на досках почета. Тогда это была очень большая честь.
        Надо было не только хорошо работать, а еще и общественную нагрузку нести.
        А портреты самых лучших работников вывешивали на доске почета возле завода.</p>
  </div>
</div>

<div class="quote-container">
  <div class="quote">
    <div class="quote__author clearfix">
      <div class="quote__author__info">
        <span class="quote__author__name">Владислав Голубев</span><br/>
        <span class="quote__author__position">директор ТЭЛЗ</span>
      </div>
    </div>
    <p>Когда имущественный комплекс предприятия
      по процедуре банкротства был продан лицам, не заинтересованным в развитии производства, выбор был прост:
      либо смириться с ситуацией и распродать остатки активов, либо, положившись на Божью волю,
      выкарабкаться и получить шанс для дальнейшего развития. Мы выкарабкались, — рассказывает Генеральный директор
      Томского электролампового завода Владислав Голубев. —
      Сейчас у нас очень высокий коэффициент использования оборудования и существенно возросшая производительность труда, которая,
      наверное, по многим показателям превосходит большинство предприятий в мире, при сопоставлении с аналогами оборудования.
      Хотя в некоторых случаях мы иногда состязаемся и с более производительным оборудованием.</p>
  </div>
</div>
