<div class="quote-container">
  <div class="quote">
    <p>На завод я пришла в 1944 году, мне тогда шел семнадцатый год.
      До этого я жила с родителями в деревне Ломовицк Первомайского района. Окончила семь классов.
      Помню, всех учеников заставили хлеб убирать, потому что зима уже наставала.
      А лошадей не было, на бычках, на коровах возили снопы, складывали в скирды.
      Меня корова затащила в кусты, а руки-то молодые, веревкой до крови стерла, пока ее из этих кустов вытянуть пыталась.
      Плачу и думаю: «Хоть бы меня в ФЗУ (школа фабрично-заводского ученичества — прим. ред.) взяли».
      Возвращаюсь домой, а мне повестка в ФЗУ. Приехала женщина от завода, нас двоих с подружкой забрала.
      Поселили в общежитие (находилось недалеко от пересечения проспекта Кирова и улицы Студенческой — прим. ред.).
    </p>
  </div>
</div>
