<div class="article__quote quote">
  <div class="quote__author clearfix">
    <img class="quote__author__photo" src="images/persons/Petlina_N.jpg" alt="Надежда Петлина" />
    <p class="quote__author__info">
      <span class="quote__author__name">Надежда<br/>Петлина</span><br/>
      <span class="quote__author__position">председатель Совета ветеранов ТЭЛЗ</span>
    </p>
  </div>
  <span class="quote__first-letter">К</span>
  <span class="quote__text">огда я в 1965 году пришла на завод, наши с Марией Антоновной линейки стояли рядышком.
    Она была лучшим специалистом. Настолько все делала искусно, что у нее ничего не трескалось, не выбрасывалось в брак.
    Если уж они перегоревшую лампу оживляли, то «ножку», которая на пол упала, подберут обязательно.
    Ее можно наладить, вновь запаять.</span>
    <p class="quote__text">А еще Мария Антоновна всегда была очень скромной, положительной. Никогда не нагрубит, если спросишь совета — подойдет, расскажет.</p>
    <p class="quote__text">Ее портреты часто висели на досках почета. Тогда это была очень большая честь.
      Надо было не только хорошо работать, а еще и общественную нагрузку нести.
      А портреты самых лучших работников вывешивали на доске почета возле завода.</p>
</div>
