<div class="reference-container">
  <a href="#" target="_blank" class="reference">
    <img class="article__author__photo" src="images/persons/Kajgorodova_K.jpg" alt="Катерина Кайгородова" />
    <p class="reference__text">
      <span class="reference__author-name">Катерина Кайгородова</span><br/>
      Я писала подробнее об этом: <span class="reference__link-name">«Прозрачное золото губернии. Будни томской лампочки»</span>
    </p>
    <p class="reference__link">Статья откроется в новой вкладке</p>
  </a>
</div>
