<div class="social-button-container clearfix <%= locals.addClass ? locals.addClass : ''%>">
    <a class="social-button social-button_fb">
        <div class="social-button__icon"></div>
        <span class="social-button__number">12</span>
    </a>
    <a class="social-button social-button_vk">
        <div class="social-button__icon"></div>
        <span class="social-button__number">57</span>
    </a>
    <a class="social-button social-button_tw">
        <div class="social-button__icon"></div>
        <span class="social-button__number">8712</span>
    </a>
    <a class="social-button social-button_ok">
        <div class="social-button__icon"></div>
        <span class="social-button__number">49</span>
    </a>
    <a class="social-button social-button_wa">
        <div class="social-button__icon"></div>
        <span class="social-button__number">49</span>
    </a>
    <a class="social-button social-button_tg">
        <div class="social-button__icon"></div>
        <span class="social-button__number">49</span>
    </a>
</div>
