<div class="review">
    <h3>ООО «Центр комплексного обслуживания систем безопасности», г.Новокузнецк</h3>
    <p>
        Деятельность компании: Монтаж, техническое обслуживание и ремонт систем охранно-пожарной сигнализации, пожаротушения и видеонаблюдения.
    </p>
    <p>
        Выполненные нами работы: анализ бизнеса и повышение эффективности существующей рекламной кампании.
    </p>
    <p>
        <a class="link" href="http://www.cko-sb.ru/">Ссылка на сайт</a>

    </p>
    <div class="review__column review--before">
        <h4>Было</h4>

        <div class="review__adv">
            <p>
                Объявление на поиске:
            </p>
            <img class="review__image" src="./images/reviews/cko/before-ads.png" alt=""/>
        </div>
        <div class="">
            <p>
                Количество ключевых слов: 221
            </p>
            <p>
                Статистика с 20 марта 2016 по 20 апреля 2016 года:
            </p>
            <img class="review__image review__image--preview" src="./images/reviews/cko/before-stat.png" alt=""/>

        </div>
        <div class="">
            <p>
                Запросы, переходы по которым оплачивались ранее (скриншот из сервиса Яндекс.Метрика):
            </p>
            <img class="review__image review__image--preview" src="./images/reviews/cko/before-keys.png" alt=""/>
        </div>
    </div>
    <div class="review__column review--after">
        <h4>Стало</h4>

        <div class="review__adv">
            <p>
                Объявление на поиске:
            </p>
            <img class="review__image" src="./images/reviews/cko/after-ads.png" alt=""/>
        </div>

        <div class="">
            <p>
                Количество ключевых слов: 639
            </p>
            <p>
                Статистика с 20 апреля 2016 по 20 мая 2016 года:
            </p>
            <img class="review__image review__image--stat" src="./images/reviews/cko/after-stat.png" alt=""/>

        </div>
        <div class="">
            <p>
                Запросы, переходы по которым оплачиваются сейчас (скриншот из сервиса Яндекс.Метрика):
            </p>
            <img class="review__image review__image--preview" src="./images/reviews/cko/after-keys.png" alt=""/>
        </div>
    </div>
    <div class="review__summary">
        <h4>Достигнутые результаты:</h4>
        <p>
            <span>С 1 до 7 выросло количество конкретных выгод для клиента в объявлении.</span>
            Быстрые ссылки и уточнения помогут клиенту лучше понять предложение и попасть на необходимый раздел сайта.
        </p>
        <p>
            <span>В 2.9 раза больше целевых ключевых слов.</span>
            С 221 до 639. Больше посетителей за меньшую цену (за счет ключевых слов, по которым меньше конкуренции).
        </p>
        <p>
            <span>Увеличился CTR с 9% до 15%.</span>
            На 100 показов объявлений откликаются 15 человек вместо 9. Цена клика будет снижаться со временем, раньше она была ниже за счет отсутствия конкуренции в нецелевых показах.
        </p>
        <p>
            <span>Оплата только целевых клиентов.</span>
            На скриншотах выше показано, что теперь оплата идет только за тех посетителей, которым интересная услуга компании, а не за случайных.
        </p>
    </div>
</div>
