<div class="review">
    <h3>Группа компаний «Центр противопожарной защиты», г.Новокузнецк</h3>
    <p>
        Деятельность компании: объединение организаций, оказывающих полный комплекс услуг в сфере промышленной и пожарной безопасности.
    </p>
    <p>
        Выполненные нами работы: анализ бизнеса, создание сайта организации и рекламных кампаний по следующим направлениям: пожарный мониторинг, огнезащитная обработка конструкций, обслуживание и продажа огнетушителей, продажа пожарного оборудования.
    </p>
    <p>
        <a class="link" href="https://cpz-nk.ru/">Ссылка на сайт</a>

    </p>
    <div class="review__single">
        <h4>Результаты работы</h4>

        <div class="review__adv">
            <p>
                Примеры объявлений на поиске:
            </p>
            <img class="review__image review__image--inline" src="./images/reviews/cpz/before-ads.png" alt=""/>
            <img class="review__image review__image--inline" src="./images/reviews/cpz/1before-ads.png" alt=""/>
        </div>
        <div class="">
            <p>
                Количество ключевых слов суммарно по всем направлениям: 749
            </p>
            <p>
                Статистика за первую неделю работы рекламных кампаний (обслуживание огнетушителей и огнезащитная обработка):
            </p>
            <img class="review__image review__image--stat" src="./images/reviews/cpz/cpz-stat-1.png" alt=""/>
            <img class="review__image review__image--stat" src="./images/reviews/cpz/cpz-stat-2.png" alt=""/>

        </div>
    </div>
    <div class="review__summary">
        <h4>Достигнутые результаты:</h4>
        <p>
            <span>Создано 6 рекламных кампаний</span>
            под каждое направление и категории в направлении.
        </p>
        <p>
            <span>Индивидуальные объявления</span>
            для каждого направления со своими ссылками на разделы сайта, уточнениями, текстами.
        </p>
        <p>
            <span>Средний CTR по кампаниям равен 15%</span>
            На 100 показов объявлений откликаются 15 человек.
        </p>
        <p>
            <span>Средняя цена клика около 10 рублей.</span>
            Глубокая проработка целевых и не целевых ключевых слов позволила сделать большой охват аудитории среди неконкурентных запросов по недорогой цене.
        </p>
    </div>
</div>
