<div class="review">
    <h3>ООО «Все для общепита», Кемеровская область</h3>
    <p>
        <span>Деятельность компании: </span>Продажа, поставка и монтаж оборудования для общепита и ресторанного бизнеса.
    </p>
    <p>
        <span>Выполненные нами работы: </span>анализ ключевых запросов существующей рекламной кампании, минусовка нецелевых запросов, добавление уточнений к объявлениям на поиске.
    </p>
    <p>
        <a class="link" href="http://vdo-nk.ru/">Ссылка на сайт</a>
    </p>
    <div class="review__column review--before">
        <h4>Было</h4>
        <div class="">
            <p>
                Статистика с 22 апреля 2016 по 22 мая 2016 года:
            </p>
            <img class="review__image review__image--preview" src="./images/reviews/vdo/before-stat.png" alt=""/>
        </div>
    </div>
    <div class="review__column review--after">
        <h4>Стало</h4>
        <div class="">
            <p>
                Статистика с 22 мая 2016 по 20 июня 2016 года:
            </p>
            <img class="review__image review__image--stat" src="./images/reviews/vdo/after-stat.png" alt=""/>
        </div>
    </div>
    <div class="review__summary">
        <h4>Достигнутые результаты:</h4>
        <p>
            <span>Уменьшение цены клика с 15 до 13 рублей.</span>
            Сервис Яндекс.Директ начал снижать цену за клик благодаря повышению качества рекламной кампании.

        </p>
        <p>
            <span>В 2 раза увеличился CTR кампании, с 7% до 15%.</span>
            На 100 показов объявления на него откликается на 8 человек больше.  
        </p>
        <p>
            <span>70 целевых посетителей в месяц против 51 случайного</span>
            За счет проработки клуючевых слов и подготовки списка минус слов удалось увеличить количество посетителей сайта, привлекая при этом только целевых клиентов
        </p>
    </div>
</div>
