<div class="fl">
    <section class="reviews section">
        <h1 class="h2-title h2-title--underline">Результаты наших выполненных работ</h1>
      </br>
        <%- include('./_cko') %>
        <div class="call-to-action">
          <p>
            У вас уже есть рекламная кампания, как было у ООО «ЦКОСБ»? </br>Мы бесплатно проверим ее эффективность!
          </p>
          <button type="button" class="action-button" data-action="show-dimmer" name="button">Заказать бесплатный анализ моей кампании</button>
        </div>
        <%- include('./_cpz') %>
        <div class="call-to-action">
          <p>
            Для центра противопожарной защиты мы достигли хороших результатов. </br> Ваша реклама будет столь же эффективно привлекать клиентов!
          </p>
          <button type="button" class="action-button" data-action="show-dimmer" name="button">Оставить заявку для связи</button>
        </div>
        <%- include('./_vdo') %>
        <div class="call-to-action">
          <p>
            Мы часто исправляем работы других «специалистов». </br> В сумме это гораздо дороже, чем сразу доверить нам вашу рекламную кампанию. </br> Сделайте верный выбор и не переплачивайте!
          </p>
          <button type="button" class="action-button" data-action="show-dimmer" name="button">Оставить заявку для связи</button>
        </div>
    </section>
</div>
