<div class="fact clearfix">
    <div class="fact__image-container">
        <img src="images/lamps.jpg" alt="" />
    </div>
    <div class="fact__content">
        <p>Винтажные лампы накаливания сегодня продаются по 200 рублей.
        Для нас, конечно, дело мелкое, мы-то миллионами делаем. Поэтому хорошо, если бы нашлась группа людей,
        которые бы осваивали нишевые производства и использовали наши возможности предоставления ресурсов, услуг, обработки.
        </p>
    </div>
</div>
