<div class="incut">
    <div class="divider-hat"></div>
    <div class="incut__content">
        <p>
            У нас в планах уже есть небольшой проект под условным названием «Город мастеров».
        </p>
    </div>  
    <div class="divider-moustache"></div>
</div>
