<div class="reference-container">
    <a href="#" target="_blank" class="reference clearfix">
        <div class="reference__link">
            <span>Статья откроется в новой вкладке</span>
        </div>
        
        <div class="reference__photo">
            <img src="images/persons/Kajgorodova_K.jpg" alt="Катерина Кайгородова"/>
        </div>
        <div class="reference__content">
            <p>
                <b>Катерина Кайгородова</b><br/>
                Я писала подробнее об этом: «Прозрачное золото губернии. Будни томской лампочки»
            </p>
        </div>

    </a>
</div>
