.r5m-logo {
  font-family: 'Roboto Slab', serif;
  font-size: 2rem;
  font-weight: bold;
  vertical-align: top;
  color: inherit;

  &__title {
      text-transform: uppercase;
      vertical-align: top;
      line-height: 1;
  }

  &__subtitle {
      position: relative;
      top: 1.5rem;
      vertical-align: top;
      font-size: 0.7rem;
      margin-left: -5px;
  }

}
