<div class="mains">

    <div style="padding: 100px 0; text-align: center">
        <div class="not-found-page__hat"></div>
        <div class="not-found-page__title">
            Тут мало контента, поэтому футер прилип книзу.
        </div>
    </div>


</div>
