<div class="not-found-page">

    <div class="not-found-page__content">
        <div class="not-found-page__hat"></div>
        <div class="not-found-page__title">
            Такой страницы не существует
        </div>
        <a href="/">Перейти на главную</a>
        <div class="not-found-page__moustache"></div>
        <span>Ошибка 404</span>
    </div>


</div>
