<div class="fl">
  <div class="call-to-action">
    <p> Упс, запрашиваемся страница не найдена...
      <br> Перейдите на <a href="/">главную</a> или свяжитесь с нами для консультации:
    </p>
    <button type="button" class="action-button" data-action="show-dimmer" name="button">Оставить заявку для связи</button>
  </div>
</div>
